.brands {
  // .brands-section {
  &-section {
    // .brands-section__title {
    &__title {
    }
  }
  // .brands-slider {
  &-slider {
    @extend .wrapper;
    height: auto;

    // height: fit-content;
  }
  // .brands-slides {
  &-slides {
    height: auto;
    // height: fit-content;
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
  // .brands-slide {
  &-slide {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include adaptive(height, 175, 115, 0);

    // .brands-slide img{
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      @include _transition(all, 0.35s);
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}
