.brand {
  &-trade {

    // .brand-trade-section {
    &-section {
      // .brand-trade-section__title {
      padding-bottom: 0;

      &__title {}
    }

    // .brand-trade__article {
    &__article {

      p,
      a {
        font-weight: 500;
      }
    }

    // .brand-trade-wrapper
  }

  // .brand-shops {
  &-shops {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #ededed;
    border-top: 8px solid $accentColor;
    @include adaptive(grid-column-gap, 70, 45, 0);
    @include adaptive(grid-row-gap, 70, 45, 0);
    @include adaptive(padding-top, 25, 20, 0);
    @include adaptive(padding-right, 50, 25, 0);
    @include adaptive(padding-bottom, 30, 25, 0);
    @include adaptive(padding-left, 50, 25, 0);
    @include adaptive(margin-bottom, 35, 20, 0);

    &:nth-last-child(3) {
      @include adaptive(margin-bottom, 110, 80, 0);
    }

    @media only screen and (max-width: 1152px) {
      display: none;
    }

    // .brand-shops-section {
    &-section {
      // .brand-shops-section__title {
      @include adaptive(padding-bottom, 110, 80, 0);

      &__title {
        @extend .t3;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
        @include adaptive(margin-bottom, 30, 20, 0);
      }
    }

    // .brand-shops__card {
    &__card {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      * {}

      // .brand-shops__card-title {
      &-title {
        @include adaptive(font-size, 15, 15, 0);

        font-weight: 700;
        color: $accentColor;
        text-transform: uppercase;
        @include adaptive(margin-bottom, 15, 10, 0);

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.5 * $i, 1.5 * $i, 5);
          }
        }
      }

      // .brand-shops__card-subtitle {
      &-subtitle {
        @include adaptive(font-size, 15, 15, 0);
        @include adaptive(margin-bottom, 10, 7, 0);
        font-weight: 600;
        color: #272727;

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.5 * $i, 1.5 * $i, 5);
          }
        }
      }

      // .brand-shops__card-address {
      &-address {
        @include adaptive(font-size, 15, 15, 0);
        @include adaptive(margin-bottom, 20, 15, 0);

        mark {
          color: $accentColor;
          background: transparent;
          font-weight: 500;
        }

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.5 * $i, 1.5 * $i, 5);
          }
        }
      }

      // .brand-shops__card-list {
      &-list {
        @include adaptive(margin-bottom, 25, 15, 0);
        color: #000;

        &:last-child {
          margin-bottom: 0;
        }

        // .brand-shops__card-list__item {
        &__item {}

        // .brand-shops__card-list__link {
        &__link {
          @include _transition(all, 0.35s);

          @media only screen and (min-width: 1152px) {
            &:hover {
              color: $accentColor;
            }
          }
        }
      }
    }

    // .brand-shops-mobile {
    &-mobile {
      display: none;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background: #ededed;
      @include adaptive(padding-top, 10, 5, 0);
      @include adaptive(padding-right, 30, 25, 0);
      @include adaptive(padding-left, 30, 25, 0);
      @include adaptive(padding-bottom, 35, 30, 0);
      @include adaptive(margin-bottom, 85, 80, 0);

      @media only screen and (max-width: 1152px) {
        display: flex;
      }
    }

    // .brand-shop__collapsible {
    &__collapsible {
      width: 100%;
      height: 100%;
      display: flex;

      // .brand-shops__collapsible-title {
      &-title {
        @include adaptive(font-size, 15, 15, 0);
        font-weight: 700;
        color: $accentColor;
        text-transform: uppercase;

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.5 * $i, 1.5 * $i, 5);
          }
        }
      }

      // .brand-shops__collapsible-content {
      &-content {
        border-bottom: 1px solid #9a9a9a;

        // .brand-shops__collapsible-content__wrapper {
        &__wrapper {
          // padding-top: 0;
          @include adaptive(padding-bottom, 30, 25, 0);
          @include adaptive(margin-bottom, 35, 30, 0);

          border-bottom: 1px solid #9a9a9a;

          &:not(&:first-of-type) {
            padding-top: 0;
          }

          &:last-of-type {
            margin-bottom: 0;
            border-bottom: none;
          }
        }

        // .brand-shops__collapsible-content__title {
        &__title {
          @include adaptive(font-size, 14, 13, 0);
          font-weight: 700;
          text-transform: uppercase;
          color: $accentColor;
          @include adaptive(margin-bottom, 15, 10, 0);

          @for $i from 1 through 40 {
            body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
              @include adaptive(font-size, 1.5 * $i, 1.5 * $i, 5);
            }
          }
        }
      }

      // .brand-shops__collapsible-subtitle {
      &-subtitle {
        @include adaptive(font-size, 15, 15, 0);
        @include adaptive(margin-bottom, 10, 7, 0);
        font-weight: 600;
        color: #272727;

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.5 * $i, 1.5 * $i, 5);
          }
        }
      }

      // .brand-shops__collapsible-address {
      &-address {
        @include adaptive(font-size, 15, 15, 0);
        @include adaptive(margin-bottom, 20, 15, 0);

        mark {
          color: $accentColor;
          background: transparent;
          font-weight: 500;
        }

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.5 * $i, 1.5 * $i, 5);
          }
        }
      }

      // .brand-shops__collapsible-list {
      &-list {
        @include adaptive(margin-bottom, 25, 15, 0);
        color: #000;

        &:last-child {
          margin-bottom: 0;
        }

        // .brand-shops__collapsible-list__item {
        &__item {}

        // .brand-shops__collapsible-list__link {
        &__link {
          @include _transition(all, 0.35s);

          @media only screen and (min-width: 1152px) {
            &:hover {
              color: $accentColor;
            }
          }
        }
      }
    }
  }
}

.shops-map {
  width: 100%;
  @include adaptive(height, 565, 420, 0);
}