.breadcrumbs {
  // .breadcrumb__item {
  @extend .wrapper;
  overflow: hidden;
  @include adaptive(margin-bottom, 20, 10, 0);

  // .breadcrumbs__list {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    list-style: none;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-weight: 400;
    @include _transition(all, 0.35s);
    color: #6f6f6f;
    @include adaptive(font-size, 16, 15, 0);
    a {
      @include adaptive(font-size, 15, 10, 0);
      @include _transition(all, 0.35s);
      -webkit-text-stroke: 0.5px transparent;
    }

    &:last-child {
      a {
        -webkit-text-stroke-color: #6f6f6f;
      }
    }
    &:first-child {
      &::before {
        display: none;
      }
    }

    &::before {
      -webkit-text-stroke: 0.5px transparent;
      content: "/";
      display: inline-block;
      @include adaptive(margin-right, 5, 5, 0);
      @include adaptive(margin-left, 5, 5, 0);
      @include adaptive(font-size, 16, 15, 0);
      // position: absolute;
    }
    @media only screen and (min-width: 1152px) {
      &:hover {
        a {
          -webkit-text-stroke-color: #6f6f6f;
        }
      }
    }
  }
}
