.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptive(grid-column-gap, 15, 5, 0);
  @include adaptive(grid-row-gap, 50, 45, 0);
  overflow: hidden;

  &:not(&.__show-cards) {
    // .card {
    //   &-card {
    //     display: none;

    //     @media only screen and (min-width: 600px) {
    //       @for $i from 1 to 13 {
    //         &:nth-child(#{$i}) {
    //           display: flex;
    //         }
    //       }
    //     }
    //     @media only screen and (max-width: 600px) {
    //       @for $i from 1 to 7 {
    //         &:nth-child(#{$i}) {
    //           display: flex;
    //         }
    //       }
    //     }
    //   }
    // }
  }

  // .cards-wrapper {
  &-wrapper {
    @extend .wrapper;
    display: grid;
    grid-template-columns: 0.22fr 0.8fr;
    @include adaptive(grid-column-gap, 35, 25, 0);
    @include adaptive(grid-row-gap, 35, 25, 0);
    justify-content: space-between;
    align-items: start;

    @media only screen and (max-width: 1024px) {
      grid-template-columns: 0.3fr 0.7fr;
    }

    @media only screen and (max-width: 800px) {
      grid-template-columns: 0.4fr 0.6fr;
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 100%);
    }
  }

  // .cards__filter {
  &__filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background: $accentFourthColor;

    // .cards__filter-title {
    &-title {
      @extend .t5;
      color: $accentColor;
      text-transform: uppercase;
      font-weight: 700;

      .bvi-body & {
        color: $textColor;

      }
    }

    // .cards__filter-link {
    &-link {
      color: #000;
      font-weight: 500;
      @include _transition(all, 0.45s);

      &:nth-of-type(1) {
        padding-top: 0;
      }

      .bvi-body & {
        color: $textColor !important;

      }

      &.__active {
        color: $accentColor;

        .bvi-body & {
          color: $textColor !important;

        }
      }

      @media only screen and (min-width: 1152px) {
        &:hover {
          color: $accentColor;

          .bvi-body & {
            color: $textColor;

          }
        }
      }
    }

    // .cards__filter-group {
    &-group {
      padding: 0;

      // .cards__filter-group__title {
      &__title {
        color: #000;
        font-weight: 500;
      }

      // .cards__filter-group__icon {
      &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @include adaptive(width, 10, 10, 0);
        @include adaptive(min-width, 10, 10, 0);
        @include adaptive(height, 8, 8, 0);
        background-image: url("../img/icons/icon-collapse.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        @include _transition(all, 0.15s);

        .active & {
          background-position: top center;
        }
      }

      // .cards__filter-group-wrapper {
      &-wrapper {
        padding: 0;
      }

      // .cards__filter-group__list {
      &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        // .cards__filter-group__list-item {
        &-item {
          display: flex;
          width: 100%;

          &:last-child {
            margin-bottom: 0;
          }
        }

        // .cards__filter-group__list-link {
        &-link {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          color: #000;
          font-weight: 500;
          position: relative;
          @include _transition(all, 0.45s);

          &::before {
            content: "";
            display: inline-block;
            background: $accentColor;
            @include adaptive(width, 8, 8, 0);
            @include adaptive(min-width, 8, 8, 0);
            @include adaptive(height, 8, 8, 0);
            @include adaptive(margin-right, 10, 10, 0);

            .bvi-body & {
              background: $textColor;

            }
          }

          @media only screen and (min-width: 1152px) {
            &:hover {
              color: $accentColor;

              .bvi-body & {
                color: $textColor;

              }
            }
          }

          &.__active {
            color: $accentColor;

            .bvi-body & {
              color: $textColor;

            }
          }
        }
      }

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    // .cards__filter-row {
    &-row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      @media only screen and (min-width: 600px) {
        display: none;
      }
    }

    // .cards__filter-form-select {
    &-select {

      // .cards__filter-form-select__wrapper {
      &-wrapper {
        @media only screen and (max-width: 360px) {
          width: 160px;
          min-width: 160px;
        }
      }

      // .cards__filter-form-select__trigger {
      &__trigger {
        padding: 0px 5px 0px 7px;
        @include adaptive(font-size, 12, 10, 0);
        background: $mainColor;
        border: none;

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.2 * $i, 1 * $i, 5);
          }
        }

        span {
          &:not([class]) {
            white-space: nowrap;
            overflow: hidden;
            max-width: 150px;
            text-overflow: ellipsis;
          }
        }
      }
    }

    // .cards__filter-arrow {
    &-arrow {

      &::before,
      &::after {
        background: #505050;
        width: 0.1rem;
      }

      &::before {
        left: -3.5px;
      }

      &::after {
        left: 3.5px;
      }
    }

    // .cards__filter-options {
    &-options {
      border: none;
      max-height: 200px;
      overflow-y: auto;
    }

    // .cards__filter-option {
    &-option {
      padding: 5px 5px 5px 7px;
      @include adaptive(font-size, 12, 10, 0);

      @for $i from 1 through 40 {
        body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
          @include adaptive(font-size, 1.2 * $i, 1 * $i, 5);
        }
      }
    }

    // .cards__filter-label {
    &-label {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 100%);
    // grid-template-columns: repeat(2, 1fr);
  }

  // .cards__btn {
  &__btn {
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    max-width: fit-content;
    padding: 15px 30px;
    animation-name: showInDown;
    animation-timing-function: ease-in-out;
    animation-duration: 0.7s;
    position: relative;
  }
}