// USER VARIABLES SECTION
$accentColor: #e31e24; // Accent Color
$accentSecondColor: #e50613; // Accent Second Color
$accentThirdColor: #36353b; // Accent Third Color
$accentFourthColor: #ececec; // Accent fourth Color
$mainColor: #fffefe; // Body Background Color
$fontSize: 10px; // Body Font Size
$textColor: #141414; // Text Color
$textSecondColor: #4a4852; // Text second Color
$textThirdColor: #242d3c; // Text Third Color
$textFourthColor: #4d4d4d; // Text fourth Color
$textFifthColor: #343434; // Text fifth Color
$texSixColor: #4a4852; // Text Six Color
$texSevenColor: #2e2e2e; // Text seven Color
$texEightColor: #585858; // Text Eight Color
$bviBg: #484848;
$lineHeight: 1.65; // Document Line Height
$userFont: Montserrat,
sans-serif; // User Font Family
$userFontAlt: Circe,
sans-serif; // User alt Font Family

$systemFont: -apple-system,
BlinkMacSystemFont,
Arial,
sans-serif; // System Font Family
// $maxWidth: 1920;
// $maxWidthContainer: 1300;
$maxWidth: 1366;
$maxWidthContainer: 1200;

// ZEROING SECTION
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  scrollbar-color: #363130 #f2f2f2;
  scrollbar-width: thin;

  &::before,
  &::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #363130 #f2f2f2;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      cursor: pointer;
      width: 0.5rem;
      background: #f2f2f2;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background: #363130;

      border-radius: 0.1rem;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      -ms-border-radius: 0.1rem;
      -o-border-radius: 0.1rem;
      transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
    }

    &::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
      background: #878686;
    }
  }

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 0.75rem;
    height: 0.75rem;
    background: #f2f2f2;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #363130;

    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #878686;
  }
}

*:focus {
  outline: 0;
  // opacity: 0.5;
  // @include _transition(all, 0.5s);
}

::placeholder {
  color: $textColor;
}

::selection {
  background-color: $accentColor;
  color: $mainColor;
  -webkit-text-stroke-color: $mainColor;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../img/icons/icon-calendar.svg) no-repeat center;
  background-size: contain;
}

// GENERAL DOCUMENT STYLES
html {
  font-size: $fontSize;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  min-height: 100%;

  @media only screen and(max-width:1024px) {
    &::-webkit-scrollbar {
      display: none;
      cursor: pointer;
      width: 0rem;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
      width: 0;
      background: transparent;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
  }
}

@-ms-viewport {
  width: device-width;
}

body {
  font-family: $userFont;
  font-size: $fontSize;
  line-height: $lineHeight;
  background: $mainColor;
  color: $textColor;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;

  &.--fixed {
    width: 100%;
    overflow: hidden;
  }

  html & .bvi-panel {
    width: 100%;
    position: relative !important;
  }

  .bvi-body {
    padding: 0;

  }

  &.bvi-active {
    padding: 0;
    align-items: stretch;
    filter: grayscale(1);

    img {
      filter: grayscale(1);
    }


    // padding-top: 103px;
    .bvi-body[data-bvi-theme=white] *:not(.bvi-no-styles) {
      // background-color: unset !important;



    }
  }


}

input,
textarea {
  @include _transition(all, 0.5s);
  @extend .p;
  // @include _borderRadius(5px);
  @include _borderRadius(0);
  padding: 10px;
  // height: 35px;
  border: none;
  // background: #060b0d;
  color: $textColor;

  &::-webkit-input-placeholder {
    @include _transition(all, 0.2s);

    transform-origin: 100% 0;
  }

  &::-moz-placeholder {
    transform-origin: 100% 0;
  }

  &:-ms-input-placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &::-ms-input-placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &::placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &:active,
  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::-moz-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &:-ms-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::-ms-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }
  }
}

textarea {
  width: 100%;
  @include adaptive(height, 150, 100, 0);
  // height: 150px;
  resize: none;
}

label {
  cursor: pointer;
}

input[type="button"],
input[type="submit"],
button {
  @extend .p;
  border: none;
  cursor: pointer;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

footer,
header,
section,
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: calc(100% - 166px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media only screen and (min-width: 1920px) {
    max-width: $maxWidth + px;
  }

  @media only screen and (min-width: $maxWidth + px) {
    // max-width: $maxWidth + px;
    max-width: $maxWidth + px;
  }

  @media only screen and (max-width: $maxWidth + px) {
    width: 100%;
    max-width: $maxWidthContainer + px;
  }

  @media only screen and (max-width: 1152px) {
    width: calc(100% - 55px);
  }

  @media only screen and (max-width: 600px) {
    width: calc(100% - 44px);
  }

  // .wrapper-s {
  &-s {
    display: flex;
    width: calc(100% - 284px);
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media only screen and (min-width: 1920px) {
      max-width: 1285px;
    }

    @media only screen and (min-width: $maxWidth + px) {
      // max-width: $maxWidth + px;
      max-width: $maxWidth + px;
      max-width: 1285px;
    }

    @media only screen and (max-width: 1152px) {
      width: calc(100% - 55px);
    }

    @media only screen and (max-width: 600px) {
      width: calc(100% - 44px);
    }
  }
}

.img {

  //.img--full
  &--fullW {
    width: 100%;
    height: auto;
  }

  // .img--center
  &--center {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // .tab__container
  &__container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  // .tab__content
  &__content {
    max-height: 0;
    overflow: hidden;
    @include _transition(all, 0.35s);

    &.--active {
      max-height: unset;
    }
  }

  // .tab__wrapper
  &__wrapper {
    opacity: 0;
    @include _transition(all, 0.35s);
    transform: translate(0, -100%);

    .--active>& {
      opacity: 1;
      transform: translate(0, 0%);
    }
  }
}

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
  }

  &::before {
    left: -2.7px;
    transform: rotate(-45deg);
    background-color: $textSecondColor;
  }

  &::after {
    left: 2.7px;
    transform: rotate(45deg);
    background-color: $textSecondColor;
  }

  .open &::before,
  .active &::before {
    transform: rotate(45deg);
  }

  .open &::after,
  .active &::after {
    transform: rotate(-45deg);
  }

  // .arrow--menu
  &--menu {
    // transform: scale(1, -1);
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid $textColor;
  border-bottom: 0px solid transparent;
  @include _transition(all, 0.5s);

  .open &,
  .active & {
    border-top: 0px solid transparent;
    border-bottom: 10px solid $textColor;
  }
}

.main {
  width: 100%;
  // min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  body.bvi-active & {
    margin-top: 180px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: -10px;
  flex-wrap: wrap;
  width: 100%;

  @media only screen and (min-width: 800px) {
    margin: get-vw(-10px);
  }
}

.coll {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin: 10px;

  @media only screen and (min-width: 800px) {
    width: 100%;
    @include coll(2, 20px);
    margin: get-vw(10px);
  }
}

.btn {
  @include adaptive(max-width, 280, 215, 0);
  @include adaptive(height, 50, 45, 0);
  @include _borderRadius(30px);
  @include _transition(all, 0.35s);
  line-height: 0;
  display: flex;
  padding: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: $mainColor;
  color: $mainColor;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 600;

  &::before,
  &::after {
    @include _transition(all, 0.35s);
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    left: 0;
  }

  &::before {
    background: $accentColor;
    z-index: -1;
    width: 100%;
    top: 0;

    body.bvi-active & {
      background: $bviBg;
    }
  }

  &::after {
    // @include _borderRadius(5%);
    top: 50%;
    background: $accentSecondColor;
    z-index: -1;
    width: 0;

    transform: translate(0, -50%);
  }

  // .btn.__active {
  &.__active {
    border: 2px solid $accentColor;
    color: $accentColor;

    body.bvi-active & {
      border: 2px solid $bviBg;
      color: $bviBg;

      &::before {
        background: $mainColor;
      }
    }

    &::before {
      background: $mainColor;
    }

    .blink {
      // background: $mainColor;
      background: $accentColor;

      body.bvi-active & {
        background: $bviBg;
      }
    }

    @media only screen and (min-width: 1152px) {

      &:hover,
      &:active,
      &:focus {
        color: $accentColor;

      }

    }

  }

  // .btn__title {
  &__title {
    display: inline-flex;
    @include adaptive(margin-right, 10, 10, 0);
    @extend .p;

    body.bvi-active & {
      color: $mainColor;
    }
  }

  // .btn__icon {
  &__icon {
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include _transition(all, 0.35s);

    // .btn__icon-arrow {
    &-arrow {
      @include adaptive(width, 15, 15, 0);
      @include adaptive(height, 15, 15, 0);
      background-image: url("../img/icons/icon-arrow-white.svg");
    }

    // .btn__icon-mail {
    &-mail {
      @include adaptive(width, 30, 25, 0);
      @include adaptive(min-width, 30, 25, 0);

      @include adaptive(height, 30, 25, 0);

      background-image: url("../img/icons/icon-mail.svg");
    }

    // .btn__icon-cv {
    &-cv {
      @include adaptive(width, 25, 17, 0);
      @include adaptive(min-width, 25, 23, 0);

      @include adaptive(height, 25, 20, 0);
      background-image: url("../img/icons/icon-cv.svg");
    }
  }

  @media only screen and (min-width: 1152px) {

    &:hover,
    &:active,
    &:focus {
      // background: $accentSecondColor;
      color: $mainColor;

      &::after {
        // width: 400px;
        // height: 400px;
        // opacity: 1;
      }

      .btn__icon {
        // transform: translateX(10px);
      }
    }

    body.bvi-active & {
      background: $bviBg;
    }

  }

  body.bvi-active & {
    color: $mainColor;
  }
}

.blink {
  position: absolute;
  @include _transition(all, 0.35s);
  display: block;
  background: $mainColor;
  @include _borderRadius(50%);
  animation-name: fullSize;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.slider {

  // .slider-pagination {
  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    @include adaptive(margin, -5, -4.5, 0);

    // .slider-pagination__bullet {
    &__bullet {
      cursor: pointer;
      display: inline-flex;
      @include adaptive(width, 10, 9, 0);
      @include adaptive(min-width, 10, 9, 0);
      @include adaptive(height, 10, 9, 0);
      @include adaptive(margin, 5, 4.5, 0);

      @include _borderRadius(50%);
      @include _transition(all, 0.35s);
      background: rgba(255, 255, 255, 0.35);
      border: 1px solid #ffffff;

      @media only screen and (min-width: 1152px) {
        &:hover {
          background: rgba($accentColor, 0.5);
          border-color: rgba($accentColor, 0.5);
        }
      }

      // slider-pagination__bullet_active {
      &_active {
        background: $accentColor;
        border-color: $accentColor;

        @media only screen and (min-width: 1152px) {
          &:hover {
            background: $accentColor;
            border-color: $accentColor;
          }
        }
      }
    }
  }

  // .slider-control {
  &-control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    // .slider-control__btn {
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @include adaptive(width, 18, 15, 0);
      @include adaptive(height, 18, 15, 0);
      @include adaptive(width, 25, 25, 0);
      @include adaptive(min-width, 25, 25, 0);
      @include adaptive(height, 25, 25, 0);

      &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url("../img/icons/icon-arrow-double.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        position: relative;
        // @include _transition(all, 0.35s);
      }

      // .slider-control__btn--prev {
      &--prev {
        @include adaptive(margin-right, 20, 15, 0);

        &::before {
          top: 1.5px;
          // transform: rotate(180deg);
          transform: scale(-1, -1);
          margin-bottom: 2px;
        }
      }

      &.swiper {
        &-button {
          &-disabled {
            &::before {
              opacity: 0.4;
            }
          }
        }
      }

      @media only screen and (min-width: 1152px) {

        &:hover {
          &::before {
            background-position: left center;
          }
        }

        body.bvi-active & {
          &:hover {
            &::before {
              background-position: right center;
            }
          }

        }
      }
    }
  }
}

.developer {

  // developer-link {
  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .developer-link__title {
    &__title {
      @include adaptive(margin-right, 10, 5, 0);
      @extend .p;
    }

    // .developer-link__image {
    &__image {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include adaptive(width, 110, 80, 0);
      height: 100%;

      svg {
        & * {
          @include _transition(all, 0.35s);
        }

        @media only screen and (min-width: 1152px) {
          .cls-3 {
            fill: #b0b1b1;
          }
        }

        .cls-2,
        .csl-4,
        .cls-5 {
          fill: #b0b1b1;
        }

        .cls-3 {
          fill: $accentColor;
        }
      }
    }

    @media only screen and (min-width: 1152px) {
      &:hover {
        svg {
          .cls-3 {
            fill: $accentColor;
          }
        }
      }
    }
  }
}

.animate {
  @include _transition(all, 0.56s);
  opacity: 0;
  transform: translate(0, 200px);

  &.__animated {
    opacity: 1;
    transform: translate(0, 0%);
  }
}

.t,
h {
  @for $i from 1 through 6 {
    &#{$i} {
      margin: 0;
      padding: 0;
      line-height: 124%;
      position: relative;
      z-index: 1;
      font-weight: normal;
    }
  }

  &1 {
    @include adaptive(font-size, 40, 23, 0);

    @for $i from 1 through 40 {
      body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
        @include adaptive(font-size, 4 * $i, 2.3 * $i, 5);
      }
    }
  }

  &2 {
    @include adaptive(font-size, 30, 19, 0);

    @for $i from 1 through 40 {
      body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
        @include adaptive(font-size, 3 * $i, 1.9 * $i, 5);
      }
    }
  }

  &3 {
    @include adaptive(font-size, 27, 17, 0);

    @for $i from 1 through 40 {
      body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
        @include adaptive(font-size, 2.7 * $i, 1.7 * $i, 5);
      }
    }
  }

  &4 {
    @include adaptive(font-size, 23, 17, 0);

    @for $i from 1 through 40 {
      body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
        @include adaptive(font-size, 2.3 * $i, 1.7 * $i, 5);
      }
    }

  }

  &5 {
    @include adaptive(font-size, 20, 15, 0);

    @for $i from 1 through 40 {
      body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
        @include adaptive(font-size, 2 * $i, 1.5 * $i, 5);
      }
    }

  }

  &6 {
    @include adaptive(font-size, 18, 14, 0);

    @for $i from 1 through 40 {
      body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
        @include adaptive(font-size, 1.8 * $i, 1.4 * $i, 5);
      }
    }
  }
}

p,
a,
li,
.p,
label {
  line-height: 1.35;
  @include adaptive(font-size, 16, 15, 0);

  @for $i from 1 through 40 {
    body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
      @include adaptive(font-size, 1.6 * $i, 1.5 * $i, 5);
    }
  }
}

.section {
  @include adaptive(padding-top, 80, 70, 0);
  @include adaptive(padding-bottom, 40, 30, 0);

  // .section__title {
  &__title {
    @extend .t1;
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-family: $userFontAlt;
    font-weight: 700;
    color: $texEightColor;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include adaptive(margin-bottom, 40, 35, 0);

    &::before,
    &::after {
      content: "";
      display: inline-block;
      background: #dfdfdf;
      width: 100%;
      @include adaptive(max-width, 512, 30, 0);
      height: 2px;
      @include _transition(all, 0.35s);
      transform: scaleX(0);
      transition-delay: 0.55s;
    }

    &::before {
      transform-origin: left;
      margin-right: 10px;
    }

    &::after {
      margin-left: 10px;

      transform-origin: right;
    }

    &.__animated {

      &::before,
      &::after {
        transform: scaleX(1);
      }
    }

    @media only screen and (max-width: 600px) {
      white-space: normal;
    }
  }

  .section__subtitle {
    @extend .t2;
    font-weight: 500;
    @include adaptive(margin-bottom, 60, 35, 0);
  }
}

.label {
  display: inline-flex;
  color: $mainColor;
  @include adaptive(padding-top, 2, 2, 0);
  @include adaptive(padding-right, 8, 8, 0);
  @include adaptive(padding-bottom, 2, 2, 0);
  @include adaptive(padding-left, 8, 8, 0);
  @include _borderRadius(15px);
  @include adaptive(font-size, 13, 13, 0);

  @for $i from 1 through 40 {
    body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
      @include adaptive(font-size, 1.3 * $i, 1.3 * $i, 5);
    }
  }

  &--new {
    background-color: $accentColor;

    body .bvi-body[data-bvi-theme=white] *:not(.bvi-no-styles) & {


      background-color: $bviBg !important;

    }
  }

  body .bvi-body[data-bvi-theme=white] *:not(.bvi-no-styles) & {
    color: $mainColor !important;

  }
}

.swiper {
  &-wrapper {
    @include adaptive(margin-bottom, 70, 40, 0);
  }
}

.social {

  // .social-links {
  &-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    // .social-links--footer
    &--footer {
      // margin-top: auto;
    }

    // .social-links--menu {
    &--menu {
      transform: translate(0px, 100px);
      opacity: 0;
      @include _transition(all, 0.35s);

      .--show & {
        // transition-delay: 0.45s;
        // opacity: 1;
        // transform: translate(0%, 0);
      }
    }
  }

  // .social-item {
  &-item {
    @include adaptive(width, 29, 29, 0);
    @include adaptive(height, 29, 29, 0);
    @include _borderRadius(50%);
    // background: $accentColor;
    @include adaptive(margin-right, 5, 5, 0);
    @include _transition(all, 0.355s);
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    @media only screen and (min-width: 1152px) {
      &:hover {
        .social-icon {
          object-position: top center;
        }
      }
    }
  }

  // .social-link {
  &-link {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }

  // .social-icon {
  &-icon {
    object-position: bottom center;
    @include _transition(all, 0.255s);
  }
}

.page {

  // .page-top {
  &-top {

    // .page-top__banner {
    &__banner {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      @include adaptive(height, 450, 290, 0);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include adaptive(margin-bottom, 60, 55, 0);

      // .page-top__banner::before {
      &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: #131313;
        opacity: 0.45;
      }

      body.bvi-active .bvi-body[data-bvi-theme=white] :not(.bvi-no-styles) & {
        display: none;
      }
    }

    // .page-top__section {
    &__section {
      @include adaptive(padding-top, 20, 15, 0);

      @media only screen and (max-width: 800px) {
        padding-top: 20px;
      }
    }
  }

  // .page-card {
  &-card {
    @include adaptive(padding-top, 25, 20, 0);

    @media only screen and (max-width: 800px) {
      @include adaptive(padding-top, 40, 35, 0);
    }

    // .page-card-top {
    &-top {
      @include adaptive(padding-top, 60, 35, 0);

      // .page-card-top__section {

      &__section {}
    }

    // .page-card__product {
    &__product {}
  }

  // .page-article {
  &-article {
    @include adaptive(padding-top, 25, 20, 0);

    @media only screen and (max-width: 800px) {
      @include adaptive(padding-top, 40, 35, 0);
    }
  }

  // .page-brand {
  &-brand {

    // .page-brand-trade {
    &-trade {
      .gm {
        &-style {

          // .gm-style-iw{
          &-iw {
            @include adaptive(height, 450, 330, 5);
            max-height: unset !important;
          }

          .gm-style-iw-d {
            padding: 0;
            overflow: hidden !important;
            @include adaptive(height, 450, 330, 5);
            max-height: unset !important;
          }
        }
      }
    }
  }

  // .page-contact {
  &-contact {
    .gm {
      &-style {

        // .gm-style-iw{
        &-iw {
          @include adaptive(min-height, 270, 200, 5);

          max-height: unset !important;
        }

        .gm-style-iw-d {
          padding: 0;
          overflow: hidden !important;
          @include adaptive(min-height, 270, 200, 5);

          max-height: unset !important;
        }
      }
    }
  }
}

.print {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;

  // .print__icon {
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include adaptive(width, 35, 25, 0);
    @include adaptive(min-width, 35, 25, 0);
    @include adaptive(height, 35, 25, 0);
    @include adaptive(margin-right, 10, 10, 0);
    @include _transition(all, 0.35s);
    overflow: hidden;

    img {
      @include _transition(all, 0.25s);

      object-position: bottom center;
    }
  }

  // print__title {
  &__title {
    @include _transition(all, 0.35s);
    font-weight: 500;
    -webkit-text-stroke: 1px transparent;
    @extend .p;
  }

  @media only screen and (min-width: 1152px) {
    &:hover {
      .print {
        &__icon {
          img {
            object-position: top center;
          }
        }

        &__title {
          color: $accentColor;
          -webkit-text-stroke-color: $accentColor;

          .bvi-body & {
            color: $textColor;
            -webkit-text-stroke-color: $textColor;


          }
        }
      }
    }
  }
}

.download {

  // .download__link {
  &__link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    // .download__link-icon {
    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include adaptive(width, 55, 45, 0);
      @include adaptive(min-width, 55, 45, 0);
      @include adaptive(height, 55, 45, 0);
      @include adaptive(margin-right, 15, 10, 0);

      background-image: url("../img/icons/icon-doc-red.svg");
      background-size: contain;
      background-position: center;
    }

    // .download__link-title Х
    &-title {
      @extend .t5;
      font-weight: 600;
      text-transform: uppercase;
      position: relative;
      @include _transition(all, 0.35s);

      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        @include _transition(all, 0.35s);
      }

      &::before {
        left: 0;
        transform-origin: left center;
        background: $textColor;
      }

      &::after {
        right: 0;
        transform-origin: right center;
        transform: scale(0, 1);
        background: $accentColor;
      }
    }

    &.__policy {
      display: none;

      @media only screen and (max-width: 800px) {
        display: inline-flex;
      }
    }

    @media only screen and (min-width: 1152px) {
      &:hover {
        .download__link-title {
          color: $accentColor;

          &::before {
            transform: scale(0, 1);
          }

          &::after {
            transform: scale(1, 1);
          }
        }
      }
    }
  }
}

.__disabled {
  pointer-events: none;
  opacity: 0.8;
  cursor: pointer;
}

.gm {
  &-style {
    * {
      font-family: $userFont;
    }

    // .gm-style-iw{
    &-iw {
      // @include adaptive(max-height, 500, 450, 5);
      max-height: unset !important;

      // .gm-style-iw-a {
      &-a {}
    }

    .gm-style-iw-c {
      background: $mainColor;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
      @include _borderRadius(5px);
      @include adaptive(width, 440, 250, 5);
      @include adaptive(max-width, 440, 250, 5);

      padding: 0;
    }

    .gm-style-iw-d {
      padding: 0;
    }

    .gm-style-iw-t {
      button {
        @include adaptive(width, 15, 10, 4);
        @include adaptive(height, 15, 10, 4);
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        @include adaptive(top, 10, 15, 4);
        @include adaptive(right, 22, 15, 4);
        opacity: 1 !important;
        overflow: hidden;
        z-index: 3;

        &::before,
        &:after {
          content: "";
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: bottom center;
          @include _transition(all, 0.35s);
        }

        &::before {
          background-image: url("../img/icons/icon-close.svg");
        }

        &::after {
          background-image: url("../img/icons/icon-close-red.svg");
          opacity: 0;
          transform: rotate(-180deg) translateY(100%);
        }

        img {
          display: none !important;
          width: 100% !important;
          height: 100% !important;
          margin: 0 !important;
        }

        @media only screen and (min-width: 1152px) {
          &:hover {
            &::before {
              transform: rotate(-180deg) translateY(100%);
              opacity: 0;
            }

            &::after {
              transform: rotate(0deg) translateY(-0%);
              opacity: 1;
            }
          }
        }
      }

      &::after {
        // display: none;
      }
    }

    &.gm-style-iw-t {
      &::after {
        // display: none;
      }
    }
  }
}

.map {

  // .map-popup {
  &-popup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    @include adaptive(padding-right, 25, 15, 0);
    @include adaptive(padding-left, 25, 15, 0);
    font-weight: 500;

    &.__page {
      &-brand {
        @include adaptive(min-height, 500, 450, 5);
        @include adaptive(padding-top, 40, 30, 0);
        @include adaptive(padding-bottom, 25, 15, 0);
      }

      // __page-contact {
      &-contact {
        @include adaptive(min-height, 270, 200, 0);
        @include adaptive(padding-top, 20, 15, 0);
        @include adaptive(padding-bottom, 20, 20, 0);
      }
    }

    a {
      @include _transition(all, 0.35s);

      @media only screen and (min-width: 1152px) {
        &:hover {
          color: $accentColor;
        }
      }
    }

    // map-popup__image {
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      @include adaptive(height, 180, 125, 0);
      @include adaptive(margin-bottom, 15, 10, 0);

      img {
        object-position: top center;
      }
    }

    // .map-popup__title {
    &__title {
      @extend .t6;
      font-weight: 600;
      color: $accentColor;

      &.__page {
        &-brand {
          @include adaptive(margin-bottom, 10, 5, 0);
        }

        &-contact {
          @include adaptive(margin-bottom, 15, 10, 0);
        }
      }
    }

    // .map-popup__address {
    &__address {
      color: #000;
      @include adaptive(font-size, 14, 10, 0);

      @include adaptive(margin-bottom, 15, 10, 0);

      @for $i from 1 through 40 {
        body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
          @include adaptive(font-size, 1.4 * $i, 1 * $i, 5);
        }
      }
    }

    // map-popup__subtitle {
    &__subtitle {
      font-weight: 600;
      @include adaptive(font-size, 14, 10, 0);
      @include adaptive(margin-bottom, 10, 5, 0);

      @for $i from 1 through 40 {
        body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
          @include adaptive(font-size, 1.4 * $i, 1 * $i, 5);
        }
      }
    }

    // map-popup__list {
    &__list {
      @include adaptive(margin-bottom, 15, 10, 0);

      &:last-child {
        margin-bottom: 0;
      }

      // map-popup__list-item {
      &-item {
        @include adaptive(font-size, 14, 10, 0);

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.4 * $i, 1 * $i, 5);
          }
        }

        * {
          @include adaptive(font-size, 14, 10, 0);

          @for $i from 1 through 40 {
            body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
              @include adaptive(font-size, 1.4 * $i, 1 * $i, 5);
            }
          }
        }
      }
    }
  }
}

.red-color {
  color: $accentColor;
}

.warning {
  border: 2px solid $accentColor;
  position: relative;

  // .warning__text {
  &__text {
    color: $accentColor;
    position: absolute;
    left: 0;
    top: 100%;
    font-weight: 500;
  }
}

.__overflow {
  overflow: hidden;

  // .__overflow-y {
  &-y {
    overflow-x: hidden;
    overflow-y: auto;
  }

  // .__overflow-x {
  &-x {
    overflow-x: auto;
    overflow-y: hidden;
  }

  // .__overflow-auto {
  &-auto {
    overflow: auto;
  }
}

.form {

  // .form__label {
  &__label {
    font-weight: 500;
    color: $textThirdColor;

    @media only screen and (max-width: 1396px) {
      @include adaptive(font-size, 15, 14, 0);

      @for $i from 1 through 40 {
        body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
          @include adaptive(font-size, 1.5 * $i, 1.4 * $i, 5);
        }
      }
    }
  }

  // .form__input {
  &__input {
    padding: 15px;
    color: $texEightColor;
    border: 1px solid #c4c4c4;
    width: 100%;
    @include adaptive(max-height, 55, 50, 0);
    @include adaptive(height, 55, 50, 0);
    @include _borderRadius(4px);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &::placeholder {
      color: $texEightColor;
    }
  }

  // .form__textarea {
  &__textarea {
    padding: 15px;
    color: $texEightColor;
    border: 1px solid #c4c4c4;
    width: 100%;
    max-width: 100%;
  }

  // .form__file {
  &__file {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.file {
  &-label {
    &__icon {
      display: inline-flex;
      width: 15px;
      height: 15px;
      justify-content: center;
      align-items: center;
      background-image: url("../img/icons/icon-clip.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-left: 5px;
    }
  }
}

.text {
  &-top {

    // .text-top__section
    &__section {
      @include adaptive(padding-top, 45, 35, 0);
    }
  }
}