.contact {

  // .contact-section {
  &-section {
    // .contact-section__title {
    @include adaptive(padding-bottom, 110, 80, 0);

    &__title {}
  }

  // .contact-shops {
  &-shops {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    @include adaptive(grid-row-gap, 50, 30, 0);
    @include adaptive(margin-bottom, 65, 45, 0);

    @media only screen and (max-width: 800px) {
      grid-template-columns: repeat(1, 100%);
    }

    // .contact-shops__card {
    &__card {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      animation-name: showInDown;
      animation-timing-function: ease-in-out;
      animation-duration: 0.35s;

      background: $mainColor;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
      @include adaptive(padding-top, 25, 20, 0);
      @include adaptive(padding-right, 30, 20, 0);
      @include adaptive(padding-bottom, 25, 20, 0);
      @include adaptive(padding-left, 30, 20, 0);
      @include _transition(all, 0.35s);
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 0%;
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: $accentColor;
        @include _transition(all, 0.45s);
        transition-delay: 0.45s;
      }

      >*:not(.contact-shops__card-title) {
        // margin-top: auto;
      }

      // .contact-shops__card.__animated  {
      &.__animated {
        &::before {
          width: 100%;
        }
      }

      @media only screen and (min-width: 1152px) {
        &:hover {
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.26);
        }
      }

      // .contact-shops__card-title {
      &-title {
        @extend .t5;
        margin-top: none;
        font-weight: 700;
        color: $accentColor;
        text-transform: uppercase;
        @include adaptive(margin-bottom, 30, 15, 0);
        margin-bottom: auto;
      }

      // .contact-shops__card-subtitle {
      &-subtitle {
        @include adaptive(font-size, 15, 14, 0);
        @include adaptive(margin-bottom, 10, 8, 0);
        font-weight: 600;
        color: #272727;

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.5 * $i, 1.4 * $i, 5);
          }
        }

        &:first-of-type {
          @include adaptive(margin-top, 30, 15, 0);
        }
      }

      // .contact-shops__card-address {
      &-address {
        @include adaptive(font-size, 15, 14, 0);
        @include adaptive(margin-bottom, 20, 10, 0);

        @for $i from 1 through 40 {
          body .bvi-body[data-bvi-fontsize="#{$i}"] * & {
            @include adaptive(font-size, 1.5 * $i, 1.4 * $i, 5);
          }
        }

        mark {
          color: $accentColor;
          background: transparent;
          font-weight: 500;
        }
      }

      // .contact-shops__card-list {
      &-list {
        @include adaptive(margin-bottom, 17, 17, 0);
        color: #000;

        &:last-of-type {
          @include adaptive(margin-bottom, 27, 17, 0);
        }

        // .contact-shops__card-list__item {
        &__item {}

        // .contact-shops__card-list__link {
        &__link {
          @include _transition(all, 0.35s);

          @media only screen and (min-width: 1152px) {
            &:hover {
              color: $accentColor;
            }
          }
        }
      }

      // .contact-shops__card-btn {
      &-btn {
        width: 100%;
        max-width: unset;
      }
    }

    // .contact-shops__btn {
    &__btn {
      grid-column: 1/-1;
      align-self: center;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
      min-width: 200px;
      width: auto;
    }
  }

  // .contact-info {
  &-info {
    width: 100%;
    @include adaptive(padding, 30, 20, 0);
    @include adaptive(margin-bottom, 65, 45, 0);
    background: #ececec;

    .bvi-body & {
      margin-bottom: 0;

    }

    // .contact-info__title {
    &__title {
      @extend .t6;
      font-weight: 600;
      @include adaptive(margin-bottom, 30, 20, 0);
      text-transform: uppercase;
    }

    // .contact-info__list {
    &__list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }

      // .contact-info__list-item {
      &-item {
        position: relative;
        width: 46%;
        padding-left: 15px;
        color: #000;
        font-weight: 500;

        @media only screen and (max-width: 600px) {
          width: 100%;
          @include adaptive(margin-bottom, 25, 20, 0);

          &:last-child {
            margin-bottom: 0;
          }
        }

        &::before {
          content: "";
          display: block;
          width: 7px;
          height: 7px;
          position: absolute;
          top: 7px;
          left: 0;
          background: $accentColor;
        }

        strong {
          font-weight: 600;
        }

        a {
          @include _transition(all, 0.35s);

          @media only screen and (min-width: 1152px) {
            &:hover {
              color: $accentColor;
            }
          }
        }
      }
    }
  }

  // .contact-map {
  &-map {
    width: 100%;
    @include adaptive(height, 445, 425, 0);

    .bvi-body & {
      display: none;

    }
  }
}