.header {
  @include _transition(all, 0.5s);
  position: fixed;
  top: 0;
  z-index: 12;
  background: transparent;

  @include adaptive(padding-top, 40, 20, 0);
  @include _transition(all, 0.35s);

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include _transition(all, 0.35s);
    transform: translate(0, -100%);
    background: rgba($accentThirdColor, 0.7);
    z-index: 0;
  }

  // .header-logo {
  &-logo {
    @include adaptive(width, 130, 75, 0);
    @include adaptive(height, 100, 65, 0);
    @include _transition(all, 0.35s);
    z-index: 2;

    img {
      object-fit: contain;
    }
  }

  // .header-wrapper
  &-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    // overflow: hidden;
  }

  // .header-icons {
  &-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  // .header-icon {
  &-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include _borderRadius(50%);
    @include adaptive(min-width, 40, 40, 0);
    @include adaptive(width, 40, 40, 0);
    @include adaptive(height, 40, 40, 0);
    @include adaptive(margin-right, 20, 13, 0);

    @media only screen and (min-width: 1154px) {
      &:last-child {
        margin-right: 0;
      }
    }

    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $accentColor;
      @include _borderRadius(50%);
      @include _transition(all, 0.35s);
    }

    @media only screen and (min-width: 1152px) {
      &:hover {
        &::before {
          width: 120%;
          height: 120%;
        }
      }
    }

    // .header-icon__image {
    &__image {
      display: inline-flex;
      @include adaptive(width, 17, 14, 0);
      @include adaptive(height, 17, 14, 0);
      position: relative;
    }
  }

  &.animate {
    transform: translate(0, -200px);

    &.__animated {
      opacity: 1;
      transform: translate(0, 0%);
    }
  }

  &.--show {
    padding-top: 12px;
    padding-bottom: 12px;

    &::before {
      transform: translate(0, 0%);
      backdrop-filter: blur(10px);
    }

    .header {
      &-logo {
        @include adaptive(width, 70, 65, 0);
        @include adaptive(height, 55, 45, 0);
      }
    }

    .menu {
      &__link {
        // color: $accentColor;
      }
    }
  }
}

.lang {
  // .lang-selector
  &-selector {
    // .lang-selector-select
    &-select {
      height: 100%;

      // .lang-selector-select__wrapper
      &__wrapper {
        @extend .header-icon;
        padding: 0;
      }
      // .lang-selector-select__trigger
      &__trigger {
        padding: 0 5px;
        color: $mainColor;

        width: 100%;
        height: 100%;
        border: none;
        @include adaptive(font-size, 11, 10, 0);
        & > span {
          margin-right: 3.5px;
        }
      }
    }
    // .lang-selector__arrow {
    &__arrow {
      width: 6px;
      min-width: 6px;
      height: 6px;
      margin-right: 0;
      &::before,
      &::after {
        // height: 120%;
        background: $mainColor;
      }
      &::before {
        left: -2px;
      }
      &::after {
        left: 2px;
      }
    }
    // .lang-selector__options {
    &__options {
      border: none;
      top: 75%;
      background: $accentColor;
      padding-top: 15px;
      @include adaptive(padding-top, 10, 7, 0);
    }
    // .lang-selector__option {
    &__option {
      padding: 0;
      @include adaptive(padding-right, 5, 5, 0);
      @include adaptive(padding-left, 5, 5, 0);
      @include adaptive(font-size, 14, 12, 0);

      background: $mainColor;
    }
  }
}
