.partner {
  // .partner-section {
  &-section {
  }
  // .partner-article {
  &-article {
    @include adaptive(margin-bottom, 55, 45, 0);

    @media only screen and (max-width: 600px) {
      @include adaptive(margin-bottom, 65, 60, 0);
    }
  }
  // .partner-map {
  &-map {
    width: 100%;
    @include adaptive(height, 445, 430, 0);
    @include adaptive(margin-bottom, 75, 50, 0);

    @media only screen and (max-width: 600px) {
      @include adaptive(margin-bottom, 95, 90, 0);
    }
  }

  // .partner-check {
  &-check {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #36353b;
    border-top: 7px solid $accentColor;
    @include adaptive(padding-top, 45, 25, 0);
    @include adaptive(padding-right, 60, 20, 0);
    @include adaptive(padding-bottom, 65, 60, 0);
    @include adaptive(padding-left, 60, 20, 0);

    // .partner-check__title {
    &__title {
      @extend .t2;
      font-weight: 600;
      color: $mainColor;
      @include adaptive(margin-bottom, 55, 35, 0);
    }

    // .partner-check__row {
    &__row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    // .partner-check__item {
    &__item {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      flex: 1 1 46%;

      &:nth-child(1) {
        @include adaptive(margin-right, 60, 30, 0);
        @media only screen and (max-width: 800px) {
          margin-right: 0;
          @include adaptive(margin-bottom, 30, 25, 0);
        }
      }
      @media only screen and (max-width: 800px) {
        flex: 1 1 100%;
      }
    }
  }
  // partner-select {
  &-select {
    //partner-select__wrapper {
    &__wrapper {
    }
    //partner-select__label {
    &__label {
      color: $mainColor;
      @include adaptive(margin-bottom, 10, 15, 0);
    }
    // partner-select__trigger {
    &__trigger {
      @include adaptive(height, 50, 48, 0);
      @include _borderRadius(4px);
      background: $mainColor;
      padding-right: 15px;
      padding-left: 15px;
      border: none;
    }
    // .partner-select__title {
    &__title {
      @extend .p;
      color: #5a5c5c;
    }
  }
  // partner__options {
  &__options {
    border: none;
    @include adaptive(max-height, 150, 100, 0);
    overflow-y: auto;
    overflow-x: hidden;
  }

  // .partner-contacts
  &-contacts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    @include adaptive(margin-bottom, 70, 50, 0);

    &.__default {
      margin-bottom: 0;
    }
    &:not(&.__default) {
      animation-name: showInUp;
      animation-timing-function: ease-in-out;
      animation-duration: 0.7s;
      position: relative;
    }
    // .partner-contacts-section {
    &-section {
      @include adaptive(padding-top, 100, 80, 0);
      @include adaptive(padding-bottom, 100, 90, 0);
      overflow: hidden;
      // .partner-contacts-section__title {
      &__title {
        @extend .t3;
        font-weight: 500;
        @include adaptive(margin-bottom, 65, 35, 0);
      }
    }
  }
  // .partner-contact {
  &-contact {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1 1 100%;
    &.__default {
      flex: 0 0 40%;
      &:nth-child(1) {
        @include adaptive(margin-right, 75, 30, 0);
        @media only screen and (max-width: 800px) {
          margin-right: 0;
          @include adaptive(margin-bottom, 45, 25, 0);
        }
      }
      @media only screen and (max-width: 800px) {
        flex: 1 1 100%;
      }
    }

    // .partner-contact__title {
    &__title {
      @extend .t6;
      font-weight: 600;
      text-transform: uppercase;
      @include adaptive(margin-bottom, 30, 25, 0);
    }
    // .partner-contact__list {
    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // .partner-contact__list-item {
      &-item {
        @extend .t6;
        position: relative;
        display: flex;
        flex-direction: column;
        @include _transition(all, 0.35s);
        @include adaptive(padding-left, 20, 17, 0);
        @include adaptive(margin-bottom, 15, 10, 0);
        &:last-of-type {
          margin-bottom: 0;
        }
        * {
          @extend .t6;
          @include _transition(all, 0.35s);
        }

        &::before {
          content: "";
          display: flex;
          position: absolute;
          @include adaptive(width, 10, 7, 0);
          @include adaptive(min-width, 10, 7, 0);
          @include adaptive(height, 10, 7, 0);
          background: $accentColor;
          left: 0;
          top: 7px;
        }

        a {
          @include adaptive(margin-bottom, 5, 5, 0);
          &:last-of-type {
            margin-bottom: 0;
          }

          strong {
            font-weight: 500;
          }
          @media only screen and (min-width: 1152px) {
            &:hover {
              strong {
                color: $accentColor;
              }
            }
          }
        }
      }
    }
  }
}
.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptive(grid-column-gap, 70, 35, 0);
  @include adaptive(grid-row-gap, 70, 60, 0);
  @include adaptive(margin-bottom, 100, 85, 0);

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 100%);
  }

  // .advantages-item {
  &-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

    // .advantages-item__picture {
    &__picture {
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptive(width, 100, 85, 0);
      @include adaptive(min-width, 100, 85, 0);
      @include adaptive(height, 100, 85, 0);
      @include adaptive(min-height, 100, 85, 0);
      background: $accentColor;
      @include _borderRadius(50%);
      @include adaptive(margin-bottom, 25, 20, 0);
    }
    // .advantages-item__title {
    &__title {
      @extend .t6;
      font-weight: 700;
      color: $accentColor;
      text-transform: uppercase;
      @include adaptive(margin-bottom, 30, 25, 0);
    }
    // .advantages-item__content {
    &__content {
      text-align: center;
    }
  }
}
