.policy {
  // .policy-section {
  &-section {
    // .policy-section__title {
    &__title {
      white-space: normal;
      &::before,
      &::after {
        @include adaptive(max-width, 300, 20, 0);

        // width: auto;
      }
    }
  }
  // .policy-wrapper {
  &-wrapper {
    width: calc(100% - 300px);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include adaptive(margin-bottom, 80, 60, 0);

    @media only screen and (min-width: 1920px) {
      max-width: 1085px;
    }

    @media only screen and (min-width: $maxWidth + px) {
      // max-width: $maxWidth + px;
      max-width: $maxWidth + px;
      max-width: 1085px;
    }

    @media only screen and (max-width: 1152px) {
      width: calc(100% - 55px);
    }

    @media only screen and (max-width: 600px) {
      width: calc(100% - 44px);
    }
  }
  // policy__doc {
  &__doc {
    width: 100%;
    height: auto;

    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
}
