.recipe {
  // .recipe-section {
  &-section {
    &.__page {
      &-recipes {
        padding-bottom: 0;
        // padding-top: 20px;
      }
    }
    // .recipe-section__title {
    &__title {
    }
  }
  // recipe-daily {
  &-daily {
    @extend .wrapper;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: $mainColor;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    @include adaptive(padding, 35, 20, 0);
    @include adaptive(margin-bottom, 45, 35, 0);
    @include _transition(all, 0.35s);
    position: relative;
    z-index: 2;
    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $mainColor;
      z-index: 1;
    }
    // recipe-daily__bg {
    &__bg {
      position: absolute;
      z-index: -1;
      content: "";
      display: inline-block;
      pointer-events: none;
      // background: #000b24;
      opacity: 1;
      // @include _borderRadius(228px);
      bottom: 50px;
      // width: 110%;
      // height: 226px;
      height: 50%;
      left: 50%;
      // background-image: url("../img/recipe__effect.svg");
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: contain;
      // transform: translate(-50%, 0%) scale(0);
      @include _transition(all, 0.35s);
      transform: translate(-50%, 0%) scale(1);
      svg {
        // width: 100%;
        // height: 100%;
      }

      @media only screen and (max-width: 1152px) {
        display: none;
      }
    }
    &::after {
      // position: absolute;
      // z-index: -1;
      // content: "";
      // display: inline-block;
      // background: #000b24;
      // opacity: 0.1;
      // // @include _borderRadius(228px);
      // bottom: 0;
      // width: 110%;
      // height: 226px;
      // left: 50%;
      // // background-image: url("../img/recipe__effect.svg");
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: contain;
      // // transform: translate(-50%, 0%) scale(0);
      // @include _transition(all, 0.35s);
      // transform: translate(-50%, 0%) scale(1);
      // filter: blur(173.928px);
    }
    // recipe-daily__picture {
    &__picture {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100%;
      position: relative;
      z-index: 2;
      // @include adaptive(max-height, 454, 170, 0);

      img {
        @include _transition(all, 0.35s);
      }
      @media only screen and (min-width: 1152px) {
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }

      @media only screen and (min-width: 1025px) {
        width: 62%;
      }
    }
    // recipe-daily__content {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      position: relative;
      z-index: 2;
      @include adaptive(padding-top, 30, 20, 0);
      @include adaptive(padding-right, 40, 5, 0);
      @include adaptive(padding-left, 40, 5, 0);

      @media only screen and (min-width: 1025px) {
        padding-top: 0;

        width: 38%;
      }
    }
    // recipe-daily__title {
    &__title {
      @extend .t2;
      line-height: 100%;
      font-weight: 600;
      color: $accentColor;
      text-transform: uppercase;
      @include adaptive(margin-bottom, 30, 20, 0);
    }
    // recipe-daily__info {
    &__info {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include adaptive(margin-bottom, 35, 30, 0);

      // recipe-daily__info-item {
      &-item {
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        @include adaptive(margin-right, 45, 25, 0);
        &:last-child {
          margin-right: 0;
        }
      }
      // recipe-daily__info-icon {
      &-icon {
        @include adaptive(margin-right, 15, 10, 0);
        @include adaptive(width, 25, 20, 0);
        @include adaptive(min-width, 25, 20, 0);
        @include adaptive(height, 25, 20, 0);

        &:last-child {
          margin-right: 0;
        }
      }
      // recipe-daily__info-title {
      &-title {
        @extend .t5;
        white-space: nowrap;
      }
    }
    // recipe-daily__subtitle {
    &__subtitle {
      @extend .t5;
      width: 100%;
      font-weight: 500;
      text-transform: uppercase;
      color: $textThirdColor;
      @include adaptive(margin-bottom, 15, 20, 0);
    }
    // recipe-daily__list {
    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      @include adaptive(margin-bottom, 25, 20, 0);

      // recipe-daily__list-item {
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #cab6b6;
        @include adaptive(padding-top, 7, 10, 0);
        @include adaptive(padding-bottom, 7, 10, 0);
        @include adaptive(margin-bottom, 10, 15, 0);
        color: $textThirdColor;

        &:last-child {
          margin-bottom: 0;
        }

        // recipe-daily__list-item__content {
        &__content {
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    // recipe-daily__btn {
    &__btn {
      @include adaptive(width, 180, 170, 0);
      align-self: flex-end;
      margin-top: auto;
      @include adaptive(margin-bottom, 25, 20, 0);

      @media only screen and (max-width: 1024px) {
        align-self: flex-start;
        @include adaptive(margin-bottom, 45, 40, 0);
      }
    }
    // recipe-daily__share {
    &__share {
      margin-top: auto;
      // recipe-daily__share-title {
      &-title {
        @media only screen and (max-width: 600px) {
          @include adaptive(margin-bottom, 25, 20, 0);
        }
      }
      // recipe-daily__share-list {
      &-list {
      }
      // recipe-daily__share-item {
      &-item {
      }
      // recipe-daily__share-link {
      &-link {
      }
      @media only screen and (max-width: 600px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
    &.__show {
      &::after {
        // transform: translate(-50%, 0%) scale(1);
        // filter: blur(173.928px);
      }
    }
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  // .recipe-slider {
  &-slider {
    @extend .wrapper;
  }
  // .recipe-slides {
  &-slides {
  }
  // .recipe-slide {
  &-slide {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    // .recipe-slide__picture {
    &__picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
      @include adaptive(height, 200, 210, 0);
      @include adaptive(margin-bottom, 25, 20, 0);

      img {
        @include _transition(all, 0.35s);
      }
      @media only screen and (max-width: 600px) {
        @include adaptive(height, 270, 250, 0);
      }
      @media only screen and (max-width: 360px) {
        @include adaptive(height, 200, 210, 0);
      }
    }
    // .recipe-slide__title {
    &__title {
      // @extend .t5;
      @include adaptive(font-size, 20, 20, 0);
      font-weight: 500;
      @include adaptive(margin-bottom, 20, 20, 0);
    }
    // .recipe-slide__info {
    &__info {
      display: flex;
      width: 100%;
      // justify-content: space-between;
      justify-content: flex-start;

      align-items: center;
      // .recipe-slide__info-item {
      &-item {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        @include adaptive(margin-right, 35, 25, 0);

        @include adaptive(font-size, 12, 12, 0);
      }
      // .recipe-slide__info-icon {
      &-icon {
        @include adaptive(margin-right, 10, 10, 0);
        @include adaptive(width, 20, 20, 0);
        @include adaptive(min-width, 20, 20, 0);
        @include adaptive(height, 20, 20, 0);
      }
      // .recipe-slide__info-title {
      &-title {
        color: $textFourthColor;
        white-space: nowrap;
        @include adaptive(margin-left, 10, 9, 0);
      }
    }
    // .recipe-slide__link {
    &__link {
      display: inline-flex;
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @media only screen and (min-width: 1152px) {
      &:hover {
        .recipe {
          &-slide {
            &__picture {
              img {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
  // .recipe-card {
  &-card {
    @extend .wrapper;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: center;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }

    // .recipe-card-section {
    &-section {
    }

    // .recipe-card__media {
    &__media {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      width: 100%;
      @include coll(2, 30);
      height: auto;
      margin-right: 30px;

      @media only screen and (max-width: 800px) {
        margin-right: 0;
        margin-bottom: 20px;
        flex: 1 1 100%;
      }
    }

    // recipe-card__picture {
    &__picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      @include adaptive(height, 360, 200, 0);
      overflow: hidden;
      @include adaptive(margin-bottom, 40, 20, 0);

      img {
        @include _transition(all, 0.35s);
      }

      @media only screen and (min-width: 1152px) {
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }

      @media only screen and (max-width: 800px) and (min-width: 600px) {
        @include adaptive(height, 480, 480, 0);
      }
    }

    // .recipe-card__stats {
    &__stats {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: #e7e7e7;
      @include adaptive(padding-top, 15, 10, 0);
      @include adaptive(padding-right, 20, 18, 0);
      @include adaptive(padding-bottom, 15, 10, 0);
      @include adaptive(padding-left, 20, 18, 0);

      @media only screen and (max-width: 800px) {
        justify-content: space-between;
      }

      @media only screen and (max-width: 600px) {
        @include adaptive(padding-top, 25, 20, 0);
        @include adaptive(padding-bottom, 25, 20, 0);
      }
      // .recipe-card__stats-item {
      &-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #525252;
        @extend .t6;
        @include adaptive(margin-right, 65, 15, 0);
      }
      // recipe-card__stats-icon {
      &-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: $accentColor;
        @include adaptive(width, 55, 35, 0);
        @include adaptive(min-width, 55, 35, 0);
        @include adaptive(height, 55, 35, 0);
        @include adaptive(min-height, 55, 35, 0);
        @include _borderRadius(50%);
        @include adaptive(margin-right, 10, 5, 0);

        img {
          @include adaptive(width, 24, 18, 0);
          @include adaptive(min-width, 24, 18, 0);
          @include adaptive(height, 24, 18, 0);

          object-fit: contain;
        }
      }
    }

    // .product-card__content {
    &__content {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      width: 100%;
      @include coll(2, 30);
      height: auto;
      margin-left: 30px;
      @media only screen and (max-width: 800px) {
        margin-left: 0;
        flex: 1 1 100%;
      }
    }

    // .recipe-card__ingredients {
    &__ingredients {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      background: #f7f7f7;
      @include adaptive(padding-top, 25, 25, 0);
      @include adaptive(padding-right, 25, 20, 0);
      @include adaptive(padding-bottom, 25, 25, 0);
      @include adaptive(padding-left, 25, 20, 0);
      @include adaptive(margin-bottom, 75, 40, 0);

      // .recipe-card__ingredients-title {
      &-title {
        @extend .t4;
        color: $accentColor;
        font-weight: 600;
        text-transform: uppercase;
        @include adaptive(margin-bottom, 24, 17, 0);
      }

      // .recipe-card__ingredients-list {
      &-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
      }

      // .recipe-card__ingredients-item {
      &-item {
        @extend .t6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #b5b5b5;
        @include adaptive(padding-top, 16, 8, 0);
        @include adaptive(padding-bottom, 12, 6, 0);
        @media only screen and (max-width: 600px) {
          @include adaptive(padding-bottom, 16, 14, 0);
        }

        // .recipe-card__ingredients-item__content {
        &__content {
          display: inline-block;
          width: fit-content;
        }
      }
    }

    // .recipe-card__steps Х
    &__steps {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;
      @include adaptive(margin-bottom, 20, 20, 0);

      // .recipe-card__steps-title {
      &-title {
        @extend .t4;
        color: $accentColor;
        font-weight: 600;
        text-transform: uppercase;
        @include adaptive(margin-bottom, 20, 15, 0);
      }
    }
    // .recipe-card__step {
    &__step {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @include adaptive(padding-top, 20, 20, 0);
      @include adaptive(padding-bottom, 35, 20, 0);
      border-top: 1px solid #b5b5b5;
      animation-name: showInDown;
      animation-timing-function: ease-in-out;
      animation-duration: 0.7s;
      position: relative;

      // .recipe-card__step-number {
      &-number {
        @extend .t1;
        color: $mainColor;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $accentColor;
        // @include adaptive(padding-top, 8, 3, 0);
        @include adaptive(padding-right, 20, 10, 0);
        // @include adaptive(padding-bottom, 8, 3, 0);
        @include adaptive(padding-left, 20, 10, 0);
        @include adaptive(min-width, 65, 35, 0);
        @include adaptive(height, 50, 30, 0);
        @include adaptive(margin-right, 15, 15, 0);
      }

      &:last-of-type {
        border-bottom: 1px solid #b5b5b5;
      }
      p {
        @include adaptive(margin-bottom, 10, 5, 0);
        &:last-child {
          margin-bottom: 0;
        }
      }
      h {
        @for $i from 1 through 6 {
          &#{$i} {
            @include adaptive(margin-bottom, 15, 10, 0);
          }
        }
      }
    }
    // .recipe-card__more {
    &__more {
      max-width: fit-content;
      // padding: 15px 30px;
      animation-name: showInDown;
      animation-timing-function: ease-in-out;
      animation-duration: 0.7s;
      position: relative;
      @include adaptive(margin-bottom, 50, 45, 0);
      font-weight: 600;
      color: $accentColor;
      -webkit-text-stroke: 1px transparent;
      @include _transition(all, 0.35s);

      @media only screen and (min-width: 1152px) {
        &:hover {
          -webkit-text-stroke-color: $accentColor;
        }
      }
    }
    // recipe-card__share {
    &__share {
      justify-content: flex-start;
      @include adaptive(margin-bottom, 25, 20, 0);

      // recipe-card__share-title {
      &-title {
        @include adaptive(margin-right, 30, 10, 0);
      }
    }
  }
}

.recipes {
  &:not(&.__show-cards) {
    .recipes {
      &-card {
        display: none;

        @media only screen and (min-width: 600px) {
          @for $i from 1 to 13 {
            &:nth-child(#{$i}) {
              display: flex;
            }
          }
        }
        @media only screen and (max-width: 600px) {
          @for $i from 1 to 7 {
            &:nth-child(#{$i}) {
              display: flex;
            }
          }
        }
      }
    }
  }

  // .recipe-section {
  &-section {
    overflow: hidden;
  }

  // .recipes-wrapper {
  &-wrapper {
    @extend .wrapper;
    display: grid;
    grid-template-columns: 0.22fr 0.8fr;
    @include adaptive(grid-column-gap, 35, 25, 0);
    @include adaptive(grid-row-gap, 35, 25, 0);
    justify-content: space-between;
    align-items: start;

    @media only screen and (max-width: 1024px) {
      grid-template-columns: 0.3fr 0.7fr;
    }
    @media only screen and (max-width: 800px) {
      grid-template-columns: 0.4fr 0.6fr;
    }
    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 100%);
    }
  }

  // .recipes-card {
  &-card {
    width: 100%;
    flex-direction: column;
    animation-name: showInDown;
    animation-timing-function: ease-in-out;
    animation-duration: 0.7s;
    position: relative;

    // .recipes-card__picture {
    &__picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
      @include adaptive(height, 200, 210, 0);
      @include adaptive(margin-bottom, 25, 20, 0);

      img {
        @include _transition(all, 0.35s);
      }
      @media only screen and (max-width: 600px) {
        @include adaptive(height, 270, 250, 0);
      }
      @media only screen and (max-width: 360px) {
        @include adaptive(height, 200, 210, 0);
      }
    }

    // .recipes-card__title {
    &__title {
      // @extend .t5;
      @include adaptive(font-size, 20, 20, 0);
      font-weight: 500;
      @include adaptive(margin-bottom, 20, 20, 0);
    }

    // .recipes-card__info {
    &__info {
      display: flex;
      width: 100%;
      // justify-content: space-between;
      justify-content: flex-start;

      align-items: center;
      // recipe-daily__info-item {
      &-item {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        @include adaptive(margin-right, 35, 25, 0);

        @include adaptive(font-size, 12, 12, 0);
      }
      // recipe-daily__info-icon {
      &-icon {
        @include adaptive(margin-right, 10, 10, 0);
        @include adaptive(width, 20, 20, 0);
        @include adaptive(min-width, 20, 20, 0);
        @include adaptive(height, 20, 20, 0);
      }
      // recipe-daily__info-title {
      &-title {
        color: $textFourthColor;
        white-space: nowrap;
        @include adaptive(margin-left, 10, 9, 0);
      }
    }

    // .recipes-card__link {
    &__link {
      display: inline-flex;
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @media only screen and (min-width: 1152px) {
      &:hover {
        .recipes {
          &-card {
            &__picture {
              img {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }

  // .recipes__filter {
  &__filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background: $accentFourthColor;
    @include adaptive(padding-top, 25, 20, 0);
    @include adaptive(padding-right, 20, 10, 0);
    @include adaptive(padding-bottom, 25, 25, 0);
    @include adaptive(padding-left, 20, 10, 0);

    // .recipes__filter-title {
    &-title {
      @extend .t5;
      color: $accentColor;
      text-transform: uppercase;
      font-weight: 700;
      @include adaptive(margin-bottom, 20, 15, 0);
      &:not(&:first-child) {
        @include adaptive(margin-top, 50, 25, 0);
      }
    }

    // .recipes__filter-link {
    &-link {
      color: #000;
      font-weight: 500;
      text-transform: uppercase;
      @include adaptive(margin-top, 20, 10, 0);
      @include _transition(all, 0.45s);

      &:first-of-type {
        margin-top: 0;
      }

      &.__active {
        color: $accentColor;
      }

      @media only screen and (min-width: 1152px) {
        &:hover {
          color: $accentColor;
        }
      }
      @media only screen and (max-width: 600px) {
        margin-top: 0;
        @include adaptive(margin-bottom, 10, 10, 0);
        @include adaptive(font-size, 14, 12, 0);
        margin-right: 10px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    // .recipes__filter-group {
    &-group {
      padding: 0;
      @include adaptive(margin-top, 20, 10, 0);

      &:last-child {
        margin-bottom: 0;
      }

      // .recipes__filter-group__title {
      &__title {
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
      }

      // .recipes__filter-group__icon {
      &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @include adaptive(width, 10, 10, 0);
        @include adaptive(min-width, 10, 10, 0);
        @include adaptive(height, 8, 8, 0);
        background-image: url("../img/icons/icon-collapse.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        @include _transition(all, 0.15s);
        .active & {
          background-position: top center;
        }
      }

      // .recipes__filter-group-wrapper {
      &-wrapper {
        padding: 0;
        @include adaptive(padding-bottom, 10, 10, 0);
      }

      // .recipes__filter-group__list {
      &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @include adaptive(padding-top, 20, 10, 0);
        @include adaptive(padding-left, 5, 5, 0);

        // .recipes__filter-group__list-item {
        &-item {
          display: flex;
          width: 100%;
          @include adaptive(margin-bottom, 10, 10, 0);
          &:last-child {
            margin-bottom: 0;
          }
        }

        // .recipes__filter-group__list-link {
        &-link {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          color: #000;
          font-weight: 500;
          position: relative;
          @include _transition(all, 0.45s);

          &::before {
            content: "";
            display: inline-block;
            background: $accentColor;
            @include adaptive(width, 8, 8, 0);
            @include adaptive(min-width, 8, 8, 0);
            @include adaptive(height, 8, 8, 0);
            @include adaptive(margin-right, 10, 10, 0);
          }
          @media only screen and (min-width: 1152px) {
            &:hover {
              color: $accentColor;
            }
          }
          &.__active {
            color: $accentColor;
          }
        }
      }
      // .recipes__filter-btn {
    }
    // .recipes__filter-row {
    &-row {
      @include adaptive(margin-bottom, 20, 15, 0);
    }

    // .cards__filter-form-select {
    &-select {
    }
    // .cards__filter-arrow {
    &-arrow {
    }

    &-options {
    }
    // .cards__filter-option {
    &-option {
    }
    &-label {
      width: 80%;
      @include adaptive(font-size, 14, 12, 0);
      margin-right: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-btn {
      @include adaptive(margin-top, 25, 15, 0);
    }
  }

  @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 100%);
    // grid-template-columns: repeat(2, 1fr);
  }

  // .recipes__btn {
  &__btn {
    @include adaptive(margin-top, 20, 5, 0);
  }
}
