.reviews {
  // .reviews-section {
  &-section {
    // .reviews-section__title {
    &__title {
    }
    //  .reviews-section__btns {
    &__btns {
      @extend .wrapper;
      flex-direction: row;
      @include adaptive(margin-bottom, 85, 50, 0);
    }
    // .reviews-section__btn {
    &__btn {
      width: fit-content;
      padding-right: 25px;
      padding-left: 25px;
      &:nth-child(1) {
        @media only screen and (min-width: 768px) {
          @include adaptive(margin-right, 20, 15, 0);
        }
      }
    }
  }
  // .reviews-slider {
  &-slider {
    @extend .wrapper;
    align-self: center;
    margin-top: -30px;
    margin-right: -30px;
    margin-left: -30px;
    @include adaptive(margin-bottom, 85, 50, 0);
  }
  // .reviews-slides {
  &-slides {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
  }
  // .reviews-slide {
  &-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include adaptive(width, 425, 310, 0);
    @include adaptive(height, 300, 285, 0);
    @include adaptive(padding, 25, 15, 0);
    @include _transition(all, 0.35s);
    background: $mainColor;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    // .reviews-slide__text {
    &__text {
      @include adaptive(max-height, 200, 185, 0);
      overflow-x: hidden;
      overflow-y: auto;
    }
    // .reviews-slide__info {
    &__info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      // .reviews-slide__info-item {
      &-item {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        color: #000;
      }
    }
    // .reviews-slide__link {
    &__link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }
    &:hover {
      box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.45);
    }
  }
}
