.scroll {
  // .scroll-btn {
  &-btn {
    position: fixed;
    right: 35px;
    bottom: 35px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    @include _transition(all, 0.35s);
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    * {
      @include _transition(all, 0.35s);
    }
    // .scroll-btn__title {
    &__title {
      font-weight: 600;
      margin-right: 10px;
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
    // .scroll-btn__icon {
    &__icon {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 10px;
      margin-top: 5px;
      &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #000000;
        border-right-color: transparent;
        border-bottom-color: transparent;
        transform: rotate(45deg);
        @include _transition(all, 0.35s);
        @media only screen and (max-width: 600px) {
          border: 1px solid $mainColor;
          border-right-color: transparent;
          border-bottom-color: transparent;
        }
      }
      @media only screen and (max-width: 600px) {
        margin-top: 0px;
        padding-top: 5px;

        width: 35px;
        height: 35px;
        @include _borderRadius(50%);
        background: $accentColor;
      }
    }
    @media only screen and (min-width: 600px) {
      &:hover {
        .scroll {
          &-btn {
            &__title {
              color: $accentColor;
            }

            &__icon {
              &::before {
                border-left-color: $accentColor;
                border-top-color: $accentColor;
              }
            }
          }
        }
      }
    }

    &.--show {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
}
