nav.menu-nav(
  itemscope, 
  itemtype="http://schema.org/SiteNavigationElement")
  
  //.menu start
  ul.menu
    include ./../mixins/menu__item.pug
    +menu__item(
      'О компании',
      '#',
      [
        ["Телефоны","#"],
        ["Адрес","#"],
        ["Схема проезда","#"]
      ])
    +menu__item(
      'Потребителям',
      '#')
    +menu__item(
      'Магазины',
      '#')
    +menu__item(
      'Контакты',
      '#')
  //.menu end

 
