doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("ОАО Брестский мясокомбинат  - производитель и поставщик колбасных изделий, мясных полуфабрикатов из Республики Беларусь")
  //head end

  body.--fixed.__loading
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end
    
    //header start
    include ./includes/parts/main/header
    //header end

    //scrollToTopBtn start
    include ./includes/elements/scrollToTopBtn
    //scrollToTopBtn end

    //page-main start
    main.main.page-main.mt__nan
      //top-slider start
      include ./includes/parts/other/top-slider
      //top-slider end

      //section-novelty start
      include ./includes/parts/sections/section-novelty
      //section-novelty end

    //page-main end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end
    include ./includes/parts/other/modal__search.pug
    include ./includes/parts/other/modal__form.pug
    include ./includes/parts/other/modal__img.pug
    include ./includes/parts/other/scripts.pug
