doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("О компании")
  //head end

  body.--fixed.__loading
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end
    
    //modal__search start
    include ./includes/parts/other/modal__search.pug
    //modal__search end

    //header start
    include ./includes/parts/main/header
    //header end

    //scrollToTopBtn start
    include ./includes/elements/scrollToTopBtn
    //scrollToTopBtn end

    //page-about start
    main.main.page-about.mt__nan
      //page-top__banner start
      include ./includes/mixins/page-top__banner
      +page-top__banner(
        "./img/page-top__banner.jpg",
        "page-top__banner--about")
      //page-top__banner end
      //breadcrumbs start
      include ./includes/mixins/breadcrumbs
      +breadcrumbs([
        [
          "Главная",
          "index.html"
        ],
        [
          "О компании",
          "page-about.html"]
        ])
      //breadcrumbs end

      //about-section start
      include ./includes/parts/sections/section-about
      //about-section end

      //callback-section start
      include ./includes/parts/sections/section-callback
      //callback-section end

    //page-about end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end
      
    include ./includes/parts/other/modal__callback.pug
    include ./includes/parts/other/modal__review.pug
    include ./includes/parts/other/modal__thanks.pug
    include ./includes/parts/other/modal__img.pug
    include ./includes/parts/other/scripts.pug
