doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("Колбаса сырокопченая 'Миланская'")
  //head end

  body.--fixed.__loading.__white-page
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end
    
    //header start
    include ./includes/parts/main/header
    //header end

    //scrollToTopBtn start
    include ./includes/elements/scrollToTopBtn
    //scrollToTopBtn end

    //page-card__product start
    main.main.page-card.page-card__product
      
      //breadcrumbs start
      include ./includes/mixins/breadcrumbs
      +breadcrumbs([
        [
          "Главная",
          "index.html"
        ],
        [
          "Каталог",
          "page-catalog-category.html"],
        [
          "Колбаса сырокопчёная",
          "page-catalog.html"],
        [
          'Колбаса сырокопченая "Миланская"',
          "page-catalog.html"]
        ])
      //breadcrumbs end

      //product-card-section start
      include ./includes/parts/sections/section-product-card
      //product-card-section end
      
      //recipe-section.__product-page start
      include ./includes/parts/sections/section-recipe-product
      //recipe-section.__product-page end

      //callback-section start
      include ./includes/parts/sections/section-callback
      //callback-section start

    //page-card__product end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end
    include ./includes/parts/other/modal__search.pug
    include ./includes/parts/other/modal__form.pug
    include ./includes/parts/other/modal__form-review.pug
    include ./includes/parts/other/modal__img.pug
    include ./includes/parts/other/scripts.pug
