doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("Результат поиска по вашему запросу")
  //head end

  body.--fixed.__loading
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end
    
    //modal__search start
    include ./includes/parts/other/modal__search.pug
    //modal__search end

    //header start
    include ./includes/parts/main/header
    //header end

    //scrollToTopBtn start
    include ./includes/elements/scrollToTopBtn
    //scrollToTopBtn end

    //page-search-result start
    main.main.page-search-result.mt__nan
      //page-top__banner start
      include ./includes/mixins/page-top__banner
      +page-top__banner(
        "./img/page-top__banner.jpg",
        "page-top__banner--catalog-category")
      //page-top__banner start
      //breadcrumbs start
      include ./includes/mixins/breadcrumbs
      +breadcrumbs([
        [
          "Главная",
          "index.html"
        ],
        [
          "Результат поиска по вашему запросу",
          "#"]
        ])
      //breadcrumbs end
      //section-search-result start
      include ./includes/parts/sections/section-search-result
      //section-search-result end
    //page-search-result end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end
      
    include ./includes/parts/other/modal__callback.pug
    include ./includes/parts/other/modal__review.pug
    include ./includes/parts/other/modal__thanks.pug
    include ./includes/parts/other/modal__img.pug
    include ./includes/parts/other/scripts.pug
