doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("Мясной рулет")
  //head end

  body.--fixed.__loading.__white-page
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end

    //modal__search start
    include ./includes/parts/other/modal__search.pug
    //modal__search end
    
    //header start
    include ./includes/parts/main/header
    //header end

    //scrollToTopBtn start
    include ./includes/elements/scrollToTopBtn
    //scrollToTopBtn end

    //page-recipe start
    main.main.page-card.page-recipe
      //breadcrumbs start
      include ./includes/mixins/breadcrumbs
      +breadcrumbs([
        [
          "Главная",
          "index.html"
        ],
        [
          "Рецепты",
          "page-recipes.html"],
        [
          "Мясной рулет",
          "#"]
        ])
      //breadcrumbs end

      //product-card-section start
      include ./includes/parts/sections/section-recipe-card
      //product-card-section end

      //recipe-other section start
      include ./includes/parts/sections/section-recipe-other
      //recipe-other section end


      //page-recipe end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end
    
    include ./includes/parts/other/modal__callback.pug
    include ./includes/parts/other/modal__review.pug
    include ./includes/parts/other/modal__thanks.pug
    include ./includes/parts/other/modal__img.pug
    include ./includes/parts/other/scripts.pug
