doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("Фирменная торговля")
  //head end

  body.--fixed.__loading.__white-page
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end
    
    //modal__search start
    include ./includes/parts/other/modal__search.pug
    //modal__search end

    //header start
    include ./includes/parts/main/header
    //header end

    //scrollToTopBtn start
    include ./includes/elements/scrollToTopBtn
    //scrollToTopBtn end

    //page-brand-trade start
    main.main.page-brand-trade.page-card
      
      //breadcrumbs start
      include ./includes/mixins/breadcrumbs
      +breadcrumbs([
        [
          "Главная",
          "index.html"
        ],
        [
          "Фирменная торговля",
          "#"]
        ])
      //breadcrumbs end

      //section-brand-trade start
      include ./includes/parts/sections/section-brand-trade
      //section-brand-trade end
      .wrapper.brand-trade-wrapper
        //section-brand-shops start
        include ./includes/parts/sections/section-brand-shops
        //section-brand-shops end
      //callback start
      include ./includes/parts/sections/section-callback
      //callback end
    //page-brand-trade end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end
      
    include ./includes/parts/other/modal__callback.pug
    include ./includes/parts/other/modal__review.pug
    include ./includes/parts/other/modal__thanks.pug
    include ./includes/parts/other/modal__img.pug
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwTc3Us1I54oPA-VyekF1PATy_eIu7iA0")
    include ./includes/parts/other/shopsMapScript
    include ./includes/parts/other/scripts.pug
