doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("Партнерам")
  //head end

  body.--fixed.__loading
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end
    
    //modal__search start
    include ./includes/parts/other/modal__search.pug
    //modal__search end

    //header start
    include ./includes/parts/main/header
    //header end

    //scrollToTopBtn start
    include ./includes/elements/scrollToTopBtn
    //scrollToTopBtn end

    //page-partner start
    main.main.page-partner.mt__nan

      //page-top__banner start
      include ./includes/mixins/page-top__banner
      +page-top__banner(
        "./img/page-top__banner.jpg",
        "page-top__banner--partner")
      //page-top__banner start

      //breadcrumbs start
      include ./includes/mixins/breadcrumbs
      +breadcrumbs([
        [
          "Главная",
          "index.html"
        ],
        [
          "Партнерам",
          "#"]
        ])
      //breadcrumbs end
      
      //partner-section start
      include ./includes/parts/sections/section-partner
      //partner-section end

      //callback-section start
      include ./includes/parts/sections/section-callback
      //callback-section end

    //page-partner end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end
      
    include ./includes/parts/other/modal__callback.pug
    include ./includes/parts/other/modal__review.pug
    include ./includes/parts/other/modal__thanks.pug
    include ./includes/parts/other/modal__img.pug
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwTc3Us1I54oPA-VyekF1PATy_eIu7iA0")
    include ./includes/parts/other/partnerMapScript
    include ./includes/parts/other/scripts.pug
    
