section.career-section.career-questions-section
  h3.career-section__title.career-questions-section__title.animate.scroll Остались вопросы?
  //.career-collapsible start
  .collapsible.career-collapsible.animate.scroll
    h6.collapsible__title.career-collapsible__title Какое сырье используются для приготовления мясного рулета?
    i.collapsible__icon.career-collapsible__icon
  //.career-collapsible end
  
  .collapsible__content.career-collapsible__content
    .collapsible__content-wrapper.career-collapsible__content-wrapper
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed asperiores unde provident nesciunt molestias. Eos debitis ab amet, dignissimos minima voluptatum accusantium repudiandae voluptate ipsa cum distinctio totam incidunt consequatur id at harum laboriosam eaque temporibus. Impedit veniam repellat obcaecati ex illo quibusdam, distinctio, harum perferendis error praesentium labore aperiam vitae minus maiores debitis neque hic qui facere. Commodi officiis inventore earum itaque repellat. Officia deleniti, eos veniam itaque ipsam optio quos. Qui doloremque quibusdam earum consectetur. Adipisci ab odit nulla reiciendis voluptas aspernatur provident cumque id officiis dicta porro laudantium quod, aliquid sed? Enim at, quia eaque eius possimus sit perferendis magnam alias obcaecati. Doloremque, error nesciunt. Ab facilis ex distinctio dolor quibusdam consequatur architecto magnam accusamus reiciendis perspiciatis!
  .collapsible.career-collapsible.animate.scroll
    h6.collapsible__title.career-collapsible__title Какое сырье используются для приготовления мясного рулета?
    i.collapsible__icon.career-collapsible__icon
  .collapsible__content.career-collapsible__content
    .collapsible__content-wrapper.career-collapsible__content-wrapper
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed asperiores unde provident nesciunt molestias. Eos debitis ab amet, dignissimos minima voluptatum accusantium repudiandae voluptate ipsa cum distinctio totam incidunt consequatur id at harum laboriosam eaque temporibus. Impedit veniam repellat obcaecati ex illo quibusdam, distinctio, harum perferendis error praesentium labore aperiam vitae minus maiores debitis neque hic qui facere. Commodi officiis inventore earum itaque repellat. Officia deleniti, eos veniam itaque ipsam optio quos. Qui doloremque quibusdam earum consectetur. Adipisci ab odit nulla reiciendis voluptas aspernatur provident cumque id officiis dicta porro laudantium quod, aliquid sed? Enim at, quia eaque eius possimus sit perferendis magnam alias obcaecati. Doloremque, error nesciunt. Ab facilis ex distinctio dolor quibusdam consequatur architecto magnam accusamus reiciendis perspiciatis!
  .collapsible.career-collapsible.animate.scroll
    h6.collapsible__title.career-collapsible__title Какое сырье используются для приготовления мясного рулета?
    i.collapsible__icon.career-collapsible__icon
  .collapsible__content.career-collapsible__content
    .collapsible__content-wrapper.career-collapsible__content-wrapper
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed asperiores unde provident nesciunt molestias. Eos debitis ab amet, dignissimos minima voluptatum accusantium repudiandae voluptate ipsa cum distinctio totam incidunt consequatur id at harum laboriosam eaque temporibus. Impedit veniam repellat obcaecati ex illo quibusdam, distinctio, harum perferendis error praesentium labore aperiam vitae minus maiores debitis neque hic qui facere. Commodi officiis inventore earum itaque repellat. Officia deleniti, eos veniam itaque ipsam optio quos. Qui doloremque quibusdam earum consectetur. Adipisci ab odit nulla reiciendis voluptas aspernatur provident cumque id officiis dicta porro laudantium quod, aliquid sed? Enim at, quia eaque eius possimus sit perferendis magnam alias obcaecati. Doloremque, error nesciunt. Ab facilis ex distinctio dolor quibusdam consequatur architecto magnam accusamus reiciendis perspiciatis!
  .collapsible.career-collapsible.animate.scroll
    h6.collapsible__title.career-collapsible__title Какое сырье используются для приготовления мясного рулета?
    i.collapsible__icon.career-collapsible__icon
  .collapsible__content.career-collapsible__content
    .collapsible__content-wrapper.career-collapsible__content-wrapper
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed asperiores unde provident nesciunt molestias. Eos debitis ab amet, dignissimos minima voluptatum accusantium repudiandae voluptate ipsa cum distinctio totam incidunt consequatur id at harum laboriosam eaque temporibus. Impedit veniam repellat obcaecati ex illo quibusdam, distinctio, harum perferendis error praesentium labore aperiam vitae minus maiores debitis neque hic qui facere. Commodi officiis inventore earum itaque repellat. Officia deleniti, eos veniam itaque ipsam optio quos. Qui doloremque quibusdam earum consectetur. Adipisci ab odit nulla reiciendis voluptas aspernatur provident cumque id officiis dicta porro laudantium quod, aliquid sed? Enim at, quia eaque eius possimus sit perferendis magnam alias obcaecati. Doloremque, error nesciunt. Ab facilis ex distinctio dolor quibusdam consequatur architecto magnam accusamus reiciendis perspiciatis!
  .collapsible.career-collapsible.animate.scroll
    h6.collapsible__title.career-collapsible__title Какое сырье используются для приготовления мясного рулета?
    i.collapsible__icon.career-collapsible__icon
  .collapsible__content.career-collapsible__content
    .collapsible__content-wrapper.career-collapsible__content-wrapper
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed asperiores unde provident nesciunt molestias. Eos debitis ab amet, dignissimos minima voluptatum accusantium repudiandae voluptate ipsa cum distinctio totam incidunt consequatur id at harum laboriosam eaque temporibus. Impedit veniam repellat obcaecati ex illo quibusdam, distinctio, harum perferendis error praesentium labore aperiam vitae minus maiores debitis neque hic qui facere. Commodi officiis inventore earum itaque repellat. Officia deleniti, eos veniam itaque ipsam optio quos. Qui doloremque quibusdam earum consectetur. Adipisci ab odit nulla reiciendis voluptas aspernatur provident cumque id officiis dicta porro laudantium quod, aliquid sed? Enim at, quia eaque eius possimus sit perferendis magnam alias obcaecati. Doloremque, error nesciunt. Ab facilis ex distinctio dolor quibusdam consequatur architecto magnam accusamus reiciendis perspiciatis!
  .collapsible.career-collapsible.animate.scroll
    h6.collapsible__title.career-collapsible__title Какое сырье используются для приготовления мясного рулета?
    i.collapsible__icon.career-collapsible__icon
  .collapsible__content.career-collapsible__content
    .collapsible__content-wrapper.career-collapsible__content-wrapper
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed asperiores unde provident nesciunt molestias. Eos debitis ab amet, dignissimos minima voluptatum accusantium repudiandae voluptate ipsa cum distinctio totam incidunt consequatur id at harum laboriosam eaque temporibus. Impedit veniam repellat obcaecati ex illo quibusdam, distinctio, harum perferendis error praesentium labore aperiam vitae minus maiores debitis neque hic qui facere. Commodi officiis inventore earum itaque repellat. Officia deleniti, eos veniam itaque ipsam optio quos. Qui doloremque quibusdam earum consectetur. Adipisci ab odit nulla reiciendis voluptas aspernatur provident cumque id officiis dicta porro laudantium quod, aliquid sed? Enim at, quia eaque eius possimus sit perferendis magnam alias obcaecati. Doloremque, error nesciunt. Ab facilis ex distinctio dolor quibusdam consequatur architecto magnam accusamus reiciendis perspiciatis!

  a.btn.career__btn.show-modal.animate.scroll(href="#career-leave-question") Задать свой уникальный вопрос
  