section.career-section.career-steps-section
  h3.career-section__title.career-steps-section__title.animate.scroll Как мы выбираем сотрудников
  .career-steps.animate.scroll
    article.career-steps__card
      h6.career-steps__card-title
        span.career-steps__card-number 1
        | Вакансия
      .career-steps__card-content
        p Заходите на сайт и выбирайте подходящую вакансию и оправляйте нам свое резюме.
    article.career-steps__card
      h6.career-steps__card-title
        span.career-steps__card-number 2
        | Собеседование
      .career-steps__card-content
        p Мы приглашаем вас на собеседование, где зададим вам пару вопросов.
    article.career-steps__card
      h6.career-steps__card-title
        span.career-steps__card-number 3
        | Медкомиссия
      .career-steps__card-content
        p Мы отправляем вас на медкомиссию и оплачиваем все денежные расходы.
    article.career-steps__card
      h6.career-steps__card-title
        span.career-steps__card-number 4
        | Оформление 
      .career-steps__card-content
        p После прохождения медкомиссии мы подготавливаем все документы для приема вас на работу.