section.career-work-section.career-section
  h3.career-section__title.career-work-section__title.animate Работа с Брестским мясокомбинатом
  .career-work
    include ./../../mixins/career-work-card
    +career-work-card(
      "./img/icons/career-work__icon-1.svg",
      "Достойная и стабильная ЗП",
      "<p>Мы в полной мере осознаем свою ответственность перед потребителем и обществом в целом, </p>")
    +career-work-card(
      "./img/icons/career-work__icon-2.svg",
      "Карьерный рост",
      "<p>Мы в полной мере осознаем свою ответственность перед потребителем и обществом в целом, </p>")
    +career-work-card(
      "./img/icons/career-work__icon-3.svg",
      "Профессиональное развитие",
      "<p>Мы в полной мере осознаем свою ответственность перед потребителем и обществом в целом, </p>")
    +career-work-card(
      "./img/icons/career-work__icon-4.svg",
      "Социальный пакет",
      "<p>Мы в полной мере осознаем свою ответственность перед потребителем и обществом в целом, </p>")
    +career-work-card(
      "./img/icons/career-work__icon-5.svg",
      "Медицинское страхование",
      "<p>Мы в полной мере осознаем свою ответственность перед потребителем и обществом в целом, </p>")
    +career-work-card(
      "./img/icons/career-work__icon-6.svg",
      "Корпоративная жизнь",
      "<p>Мы в полной мере осознаем свою ответственность перед потребителем и обществом в целом, </p>")
