section.section.vacancy-section
  h5.section__title.vacancy-section__title.animate Вакансии

  .vacancy.animate
    include ./../../mixins/vacancy-collapsible
    +collapsible("Токарь (г. Брест)")
    +collapsible("Составитель фарша (г. Брест) ")
    +collapsible("Подсобный рабочий (г. Брест)")
    +collapsible("Подсобный рабочий (г. Брест)")
