section.section.reviews-cards-section.page-top__section
  h1.section__title.reviews-cards-section__title.animate Отзывы
  
  .reviews-cards
    include ./../../mixins/reviews-card
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    +reviews-card(
      "20.03.2021",
      "Отзыв Галина",
      "г. Брест",
      "Добрый день! Колбасу покупала специально для приготовления пиццы.  Чистится прекрасно, легко нарезается на колечки или соломку. Приятный копчёный аромат. Вкусно и бутерброд сделать, и вприкуску с гарниром, ну и пицца получилась отменная, запах колбасы после духовки просто волшебный. Всем рекомендую! ")
    .reviews__btns.animate.scroll
      a.btn.reviews__btn.show-modal(
        href="#modal__review",
        role="button")  Оставить отзыв
      a#more-reviews.btn.__active.reviews__btn(
        href="#",
        role="button") Смотреть еще