section.section.contact-section.page-top__section
  h1.section__title.contact-section__title.animate Контакты
  .wrapper.contact-wrapper
    .contact-shops.animate
      include ./../../mixins/contact-shops__card
      +contact-shops__card(
        "Брестский мясокомбинат",
        "г. Брест, ул. Писателя Смирнова, 4",
        [
          [
            "Пн-Пт: 10.00-19.00"
          ],
          [
            "Сб: 10.00-19.00, Вс: 10.00-17.00"
          ]
        ],
        [
          ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
          ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
        ],"52.095170","23.645024","animate")
      +contact-shops__card(
        "Брестские традиции",
        "Брестская область, Кобринский район",
        [
          [
            "Пн-Пт: 10.00-19.00"
          ],
          [
            "Сб: 10.00-19.00, Вс: 10.00-17.00"
          ]
        ],
        [
          ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
          ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
        ],"52.214552","24.451214","animate")
      +contact-shops__card(
        "Брестское угощение",
        "г. Брест, ул. Волгоградская, 11",
        [
          [
            "Пн-Пт: 10.00-19.00"
          ],
          [
            "Сб: 10.00-19.00, Вс: 10.00-17.00"
          ]
        ],
        [
          ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
          ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
        ],"52.075336","23.755783","animate","")
      +contact-shops__card(
        "Озяты",
        "г. Брест, ул. Писателя Смирнова, 4",
        [
          [
            "Пн-Пт: 10.00-19.00"
          ],
          [
            "Сб: 10.00-19.00, Вс: 10.00-17.00"
          ]
        ],
        [
          ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
          ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
        ],"52.101809","24.138693","animate","scroll")
      +contact-shops__card(
        "Хотислав",
        "г. Брест, ул. Писателя Смирнова, 4",
        [
          [
            "Пн-Пт: 10.00-19.00"
          ],
          [
            "Сб: 10.00-19.00, Вс: 10.00-17.00"
          ]
        ],
        [
          ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
          ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
        ],"52.095170","23.645024","animate","scroll")
      +contact-shops__card(
        "Сычево",
        "г. Брест, ул. Писателя Смирнова, 4",
        [
          [
            "Пн-Пт: 10.00-19.00"
          ],
          [
            "Сб: 10.00-19.00, Вс: 10.00-17.00"
          ]
        ],
        [
          ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
          ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
        ],"52.075336","23.755783","animate","scroll")
      +contact-shops__card(
        "Сычево",
        "г. Брест, ул. Писателя Смирнова, 4",
        [
          [
            "Пн-Пт: 10.00-19.00"
          ],
          [
            "Сб: 10.00-19.00, Вс: 10.00-17.00"
          ]
        ],
        [
          ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
          ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
        ],"52.075336","23.755783","animate","scroll")
      a#show-more.btn.__active.contact-shops__btn.animate.scroll(href="#") Показать ещё
    article.contact-info.animate.scroll
      h2.contact-info__title По вопросам заключения договора на поставку продукции
      ul.contact-info__list
        li.contact-info__list-item 
          strong
            a(href="tel:+375 (162) 27 78 79")  +375 (162) 27 78 79 
          | Отдел продаж – по вопросам поставок продукции на территории РБ.  
        li.contact-info__list-item 
          strong
            a(href="tel:+375 (162) 27 78 30") +375 (162) 27 78 30  
          | Отдел ВЭД – по вопросам поставок продукции за пределы РБ.
    #contactMap.contact-map