section.section.articles-section.__page-advice
  h5.section__title.articles-section__title.__page-advice.animate Советы
  article.articles-anons.__page-advice.animate
    a.articles-anons__picture.__page-advice(href="page-article-advice.html")   
      include ./../../mixins/img
      +img(
        "./img/advice/advice-image.jpg",
        'ОАО “Брестский мясокомбинат” спешит поздравить Вас со Светлым Праздником Пасхи')
    .articles-anons__content.__page-advice
      h4.articles-anons__title.__page-advice При какой температуре и сколько коптить курицу
      .articles-anons__text.__page-advice 
        p Пусть этот величественный праздник наполнит Ваши сердца светлыми чувствами надежды и любви, дарит счастье и добро. Желаем Вам радости, здоровья и благополучия. 
      a.articles-link.__page-advice(href="page-article-advice.html") 
        | Читать
        i.articles-link__icon.__page-advice
          include ./../../mixins/img-NL
          +img(
            "./img/icons/icon-arrow-double.svg",
            "Читать")

  #articles.articles.__page-advice
    include  ./../../mixins/articles-card
    +articles-card(
      "./img/advice/advice-card__image-1.jpg",
      "Сколько варить куриную печень",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    +articles-card(
      "./img/advice/advice-card__image-2.jpg",
      "Замороженные бульонные кубики",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    +articles-card(
      "./img/advice/advice-card__image-3.jpg",
      "Секреты здорового питания",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    +articles-card(
      "./img/advice/advice-card__image-1.jpg",
      "Сколько варить куриную печень",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    +articles-card(
      "./img/advice/advice-card__image-2.jpg",
      "Замороженные бульонные кубики ",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    +articles-card(
      "./img/advice/advice-card__image-3.jpg",
      "Секреты здорового питания",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    +articles-card(
      "./img/advice/advice-card__image-1.jpg",
      "Сколько варить куриную печень",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    +articles-card(
      "./img/advice/advice-card__image-2.jpg",
      "Замороженные бульонные кубики",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    +articles-card(
      "./img/advice/advice-card__image-3.jpg",
      "Секреты здорового питания",
      "page-article-advice.html",
      "advice",
      "animate scroll")
    a#show-more.btn.articles__btn.__page-advice.animate.scroll(href="#") Показать ещё


