section.section.product-card-section
  h4.product-card__title.animate.__mobile Колбаса сырокопченая "Миланская"
  .product-card.animate

    //product-card__image start
    include ./../other/product-card__image
    //product-card__image end

    //product-card__description start
    include ./../other/product-card__description-4
    //product-card__description end

