section.section.recipe-card-section.page-top__section
  h1.section__title.novelty-section__title.animate Мясной рулет
  .recipe-card.animate

    //recipe-card__media start
    include ./../other/recipe-card__media
    //recipe-card__media end

    //recipe-card__content start
    include ./../other/recipe-card__content
    //recipe-card__content end

