section.section.recipe-section
  h5.section__title.recipe-section__title.animate.scroll Рецепт дня
  article.recipe-daily.animate.scroll
    a.recipe-daily__picture(href="page-recipes.html")
      include ./../../mixins/img
      +img(
        "./img/recipe/recipe-image__current.jpg",
        "Мясной рулет")
    .recipe-daily__content
      h2.recipe-daily__title Мясной рулет
      ul.recipe-daily__info
        li.recipe-daily__info-item
          i.recipe-daily__info-icon
            include ./../../mixins/img-NL
            +img(
              "./img/icons/icon-clock.svg",
              "Время готовки")
          span.recipe-daily__info-title 1 ч 15 мин
        li.recipe-daily__info-item
          i.recipe-daily__info-icon
            include ./../../mixins/img-NL
            +img(
              "./img/icons/icon-food.svg",
              "Количество порций")
          span.recipe-daily__info-title 5 порций
      h5.recipe-daily__subtitle Ингридиенты
      ul.recipe-daily__list
        li.recipe-daily__list-item.animate.scroll
          span.recipe-daily__list-item__content Мясо сыровяленое
          span.recipe-daily__list-item__content 1000 гр
        li.recipe-daily__list-item.animate.scroll
          span.recipe-daily__list-item__content Мясо сыровяленое
          span.recipe-daily__list-item__content 1000 гр
        li.recipe-daily__list-item.animate.scroll
          span.recipe-daily__list-item__content Мясо сыровяленое
          span.recipe-daily__list-item__content 1000 гр
        li.recipe-daily__list-item.animate.scroll
          span.recipe-daily__list-item__content Мясо сыровяленое
          span.recipe-daily__list-item__content 1000 гр
        li.recipe-daily__list-item.animate.scroll
          span.recipe-daily__list-item__content Мясо сыровяленое
          span.recipe-daily__list-item__content 1000 гр
      a.btn.recipe-daily__btn.animate.scroll(href="page-recipes.html") Смотреть ещё
      include ./../../mixins/share
      +share(
        "Поделиться рецептом",
        [
          [
            "https://www.facebook.com/",
            "./img/icons/icon-fb-double.svg",
            "Поделится в Facebook"
          ],
          [
            "https://vk.com/",
            "./img/icons/icon-vk-double.svg",
            "Поделится в VK"
          ],
          [
            "https://www.instagram.com/",
            "./img/icons/icon-inst-double.svg",
            "Поделится в Instagram"
          ],
          [
            "https://ok.ru/",
            "./img/icons/icon-ok-double.svg",
            "Поделится в OK"
          ],
          [
            "https://web.telegram.org/",
            "./img/icons/icon-tg-double.svg",
            "Поделится в Telegram"
          ]

        ],
        "recipe-daily")
    .recipe-daily__bg(area-hidden="true")
      include ./../../../img/recipe__effect.svg
  .recipe-slider.swiper-container.animate.scroll
    .recipe-slides.swiper-wrapper
      //.recipe-slide start
      include ./../../mixins/recipe-slide
      +recipe-slide(
        "./img/recipe/recipe-image__1.jpg",
        'Мясной рулет')
      +recipe-slide(
        "./img/recipe/recipe-image__2.jpg",
        'Мясной рулет')
      +recipe-slide(
        "./img/recipe/recipe-image__3.jpg",
        'Мясной рулет')
      +recipe-slide(
        "./img/recipe/recipe-image__4.jpg",
        'Мясной рулет')
      +recipe-slide(
        "./img/recipe/recipe-image__4.jpg",
        'Мясной рулет')
      //.recipe-slide end
    //recipe-slider__control start
    .slider-control.recipe-slider__control
      button.slider-control__btn.slider-control__btn--prev.recipe-slider__prev 
      button.slider-control__btn.slider-control__btn--next.recipe-slider__next 
    //recipe-slider__control end
