section.section.recipe-section.__page-recipes
  h5.section__title.__page-recipes.recipe-section__title.animate Рецепт дня
  article.recipe-daily.__page-recipes.animate
    a.recipe-daily__picture.__page-recipes(href="page-recipe.html")
      include ./../../mixins/img
      +img(
        "./img/recipe/recipe-image__current.jpg",
        "Мясной рулет")
    .recipe-daily__content.__page-recipes
      h2.recipe-daily__title.__page-recipes Мясной рулет
      ul.recipe-daily__info.__page-recipes
        li.recipe-daily__info-item.__page-recipes
          i.recipe-daily__info-icon.__page-recipes
            include ./../../mixins/img-NL
            +img(
              "./img/icons/icon-clock.svg",
              "Время готовки")
          span.recipe-daily__info-title.__page-recipes 1 ч 15 мин
        li.recipe-daily__info-item.__page-recipes
          i.recipe-daily__info-icon.__page-recipes
            include ./../../mixins/img-NL
            +img(
              "./img/icons/icon-food.svg",
              "Количество порций")
          span.recipe-daily__info-title.__page-recipes 5 порций
      h5.recipe-daily__subtitle.__page-recipes Ингридиенты
      ul.recipe-daily__list.__page-recipes
        li.recipe-daily__list-item.__page-recipes.animate.scroll
          span.recipe-daily__list-item__content.__page-recipes Мясо сыровяленое
          span.recipe-daily__list-item__content.__page-recipes 1000 гр
        li.recipe-daily__list-item.__page-recipes.animate.scroll
          span.recipe-daily__list-item__content.__page-recipes Мясо сыровяленое
          span.recipe-daily__list-item__content.__page-recipes 1000 гр
        li.recipe-daily__list-item.__page-recipes.animate.scroll
          span.recipe-daily__list-item__content.__page-recipes Мясо сыровяленое
          span.recipe-daily__list-item__content.__page-recipes 1000 гр
        li.recipe-daily__list-item.__page-recipes.animate.scroll
          span.recipe-daily__list-item__content.__page-recipes Мясо сыровяленое
          span.recipe-daily__list-item__content.__page-recipes 1000 гр
        li.recipe-daily__list-item.__page-recipes.animate.scroll
          span.recipe-daily__list-item__content.__page-recipes Мясо сыровяленое
          span.recipe-daily__list-item__content.__page-recipes 1000 гр
      a.btn.recipe-daily__btn.__page-recipes.animate.scroll(href="page-recipe.html") Перейти
      include ./../../mixins/share
      +share(
        "Поделиться рецептом",
        [
          [
            "https://www.facebook.com/",
            "./img/icons/icon-fb-double.svg",
            "Поделится в Facebook"
          ],
          [
            "https://vk.com/",
            "./img/icons/icon-vk-double.svg",
            "Поделится в VK"
          ],
          [
            "https://www.instagram.com/",
            "./img/icons/icon-inst-double.svg",
            "Поделится в Instagram"
          ],
          [
            "https://ok.ru/",
            "./img/icons/icon-ok-double.svg",
            "Поделится в OK"
          ],
          [
            "https://web.telegram.org/",
            "./img/icons/icon-tg-double.svg",
            "Поделится в Telegram"
          ]

        ],
        "recipe-daily")
    .recipe-daily__bg(area-hidden="true")
      include ./../../../img/recipe__effect.svg