section.section.pressroom-section
  h5.section__title.pressroom-section__title.animate.scroll Пресс-центр
  article.pressroom-card.animate.scroll
    a.pressroom-card__picture(href="page-pressroom.html")   
      include ./../../mixins/img
      +img(
        "./img/pressroom/pressroom-image.jpg",
        'ОАО “Брестский мясокомбинат” спешит поздравить Вас со Светлым Праздником Пасхи')
    .pressroom-card__content
      span.date.pressroom-card__date 30 апреля 2021
      h4.pressroom-card__title ОАО “Брестский мясокомбинат” спешит поздравить Вас со Светлым Праздником Пасхи
      .pressroom-card__text 
        p Пусть этот величественный праздник наполнит Ваши сердца светлыми чувствами надежды и любви, дарит счастье и добро. Желаем Вам радости, здоровья и благополучия. 
        
      a.pressroom-card__btn.btn(
        href="page-pressroom.html",
        role="button") 
        span.btn__title Читать
        i.btn__icon



