section.partner-contacts-section
  include ./../../mixins/partner-contacts
  +partner-contacts(
    "brst","Дилер (г.Брест)",
    [
      [
        "+375 (44) 763-06-50",
        " г.Брест (Ленинский р-н) (контактное лицо - Годлевский Андрей)"
      ],
      [
        "+375 (44) 730-20-13",
        " г.Брест (Московский р-н) (контактное лицо - Косьянчук Дмитрий)"
      ],
      [
        "+375 (44) 730-33-06",
        " г.Брест (Московский р-н) (контактное лицо - Кучинская Татьяна)"
      ],
      [
        "+375 (29) 339-47-91",
        " г.Барановичи, Ляховичский р-н (контактное лицо - Пашкевич Анна)"
      ],
      [
        "+375 (29) 262-68-94",
        " Барановичский р-н, Ганцевичский р-н (контактное лицо - Гурина Марина)"
      ],
      [
        "+375 (29) 640-00-96",
        " Пинский р-н (контактное лицо - Кисель Виктор)"
      ]
    ])
  +partner-contacts(
    "vtbsk","Дилер (г.Витебск)",
    [
      [
        "+375 (29) 143-96-16",
        " г.Витебск (контактное лицо - Гончаров Алексей)"
      ],
      [
        "+375 (29) 714-86-36",
        " г.Полоцк, г.Новополоцк (контактное лицо - Ясюк Кирилл)"
      ]
    ])
  +partner-contacts(
    "gml","Дилер (г.Гомель)",
    [
      [
        "+375 (44) 739-12-38",
        " Гомельская обл. (контактное лицо - Генцелева Юлия)"
      ],
      [
        "+375 (29) 160-14-70",
        " г.Гомель (контактное лицо - Пархоменко Владимир)"
      ],
      [
        "+375 (44) 716-59-51",
        " г.Гомель (контактное лицо - Маслюков Юрий)"
      ],
      [
        "+375 (44) 730-05-44",
        " г.Гомель (контактное лицо - Раковецкая Оксана)"
      ]
    ])
  +partner-contacts(
    "grdn","Дилер (г.Гродно)",
    [
      [
        "+375 (29) 343-84-86",
        " г.Гродно, Гродненская обл. (контактное лицо - Шинкель Александр)"
      ],
      [
        "+375 (44) 514-14-59",
        " г.Волковыск (контактное лицо - Жемерова Юлия)"
      ]
    ])
  +partner-contacts(
    "mnsk","Дилер (г.Минск)",
    [
      [
        "+375 (44) 759-39-96",
        " г. Минск Октябрьский р-н, Ленинский р-н (контактное лицо - Вальчук Надежда)"
      ],
      [
        "+375 (44) 769-43-53",
        " г. Минск Заводской р-н, Партизанский р-н (контактное лицо - Костюкович Денис)"
      ],
      [
        "+375 (44) 749-09-22",
        " г. Минск Фрунзенский р-н, Узденский р-н (контактное лицо - Сацута Валентина)"
      ],
      [
        "+375 (44) 560-18-75",
        " г. Минск Советский р-н (контактное лицо - Тарасевич Николай)"
      ],
      [
        "+375 (29) 111-47-66",
        " г. Минск Московский р-н (контактное лицо - Звалинская Елена)"
      ],
      [
        "+375 (29) 141-72-78",
        " г. Минск Первомайский р-н (контактное лицо - Черкас Елена)"
      ],
      [
        "+375 (29) 696-14-65",
        " г. Минск (рынки) (контактное лицо - Тюнина Татьяна)"
      ],
      [
        "+375 (44) 744-05-94",
        " г. Минск (контактное лицо - Тюнина Марина)"
      ],
    ])
  +partner-contacts(
    "mglv","Дилер (г.Могилёв)",
    [
      [
        "+375 (29) 306-25-24",
        " г.Могилев (контактное лицо - Лапаев Константин)"
      ],
      [
        "+375 (29) 320-09-17",
        " г.Могилев, Могилевская обл. (контактное лицо - Желтышева Наталия )"
      ],
      [
        "+375 (29) 661-25-38",
        " г.Могилев (контактное лицо - Кореневич Павел)"
      ],
      [
        "+375 (44) 552-60-07",
        " г.Бобруйск (контактное лицо - Клявзер Елена)"
      ]
    ])
  +partner-contacts(
    "astrhn","Дилер г.Астрахань (Астраханская область) <br>ИП Сухоруков А.В.",
    [
      [
        "+7 (920) 747 80 20",
        " (контактное лицо - Ховренок Дмитрий Александрович)",
        "","",
        "89207478020@mail.ru"
      ],
      [
        "+7 (4872) 79 03 79, +7 (930) 790-80-20 ",
        "(отдел продаж)",
        "","",
        "gostfood@mail.ru",
        "www.gostpp.ru"
      ]
    ])
  +partner-contacts(
    "archnglsk","Дилер г.Архангельск (Архангельская область)<br>ИП Ховренок Д.А.",
    [
      [
        "+7 (800) 700-35-82","",
        "+7 (879) 345-50-05","",
        "meat-kavkaz@mail.ru",
        "www.veras.biz",
        "+7 (961) 481-90-05"
      ]
    ])
  +partner-contacts(
    "blgrd","Дилер г. Белгород (Белгородская область)<br>ИП Ховренок Д.А.",
    [
      [
        "+7 (920) 747 80 20",
        " (контактное лицо - Ховренок Дмитрий Александрович)",
        "","",
        "89207478020@mail.ru"
      ],
      [
        "+7 (4872) 79 03 79,+7 (930) 790-80-20",
        " (отдел продаж)",
        "","",
        "gostfood@mail.ru","www.gostpp.ru"
      ]
    ])
  +partner-contacts(
    "vlggrd","Дилер г. Волгоград (Волгоградская область)<br>ООО «БМК-ЦЕНТР»",
    [
      [
        "8 (800) 550-69-01",
        " отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "vrnj","Дилер г. Воронеж (Воронежская область)",
    [
      [
        "+7 (473) 203-78-77",
        " (отдел продаж, контактное лицо - Недоступ Ирина Александровна)",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "zbkl","Дилер г. Чита (Забайкальский край)<br>ООО «БМК-ЦЕНТР»",
    [
      [
        "8 (800) 550-69-01",
        " отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "klj","Дилер г. Калуга (Калужская область)<br>ИП Ховренок Д.А",
    [
      [
        "+7 (920) 747 80 20",
        " (контактное лицо - Ховренок Дмитрий Александрович)",
        "","",
        "89207478020@mail.ru"
      ],
      [
        "+7 (4872) 79 03 79, +7 (930) 790-80-20",
        " (отдел продаж)",
        "","",
        "gostfood@mail.ru","www.gostpp.ru"
      ]
    ])
  +partner-contacts(
    "krv",'Дилер г. Киров (Кировская область)<br>ООО "Торговый дом "БМК"',
    [
      [
        "8 (800) 550-69-01",
        " отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "krsndr",'Дилер в г.Краснодар (Краснодарский край)<br>ИП Сухоруков А.В.',
    [
      [
        "8 (800) 700-35-82",
        "",
        "+7 (879) 345-50-05","",
        "meat-kavkaz@mail.ru","www.veras.biz",
        "+7 (961) 481-90-05"
      ]
    ])
  +partner-contacts(
    "krsnj",'Дилер г. Красноярск (Красноярский край)<br>ООО «БМК-ЦЕНТР»',
    [
      [
        "8 (800) 550-69-01",
        " отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "krsk",'Дилер г. Курск (Курская область) <br>ООО "Торговый дом "БМК"',
    [
      [
        "8 (800) 550-69-01",
        " отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "spb",'Дилер в г. Санкт-Петербург (Ленинградская область)<br>ООО «БМК-СЕВЕР»',
    [
      [
        "+8 (800) 550-69-01"," (отдел продаж)",
        "+7 (812) 748-22-42"," (отдел продаж)",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "lpck",'Дилер г. Липецк (Липецкая область)<br>ООО "Торговый дом "БМК"',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "mgdn",'Дилер г. Магадан (Магаданская область)<br>ООО "Торговый дом "БМК"',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "msk",'Дилер в г. Москва (Московская область)<br>ООО «БМК-ЦЕНТР» ',
    [
      [
        "+7 (903) 222-23-69"," (контактное лицо - Матюхин Алексей Владимирович)",
        "+7 (495) 642-35-55, +7 (495) 642-45-54"," (отдел продаж)",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "mrmnsk",'Дилер в г. Мурманск (Мурманская область)<br>ООО «БМК-СЕВЕР»',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "njgrdsk",'Дилер в  г. Нижний Новгород (Нижегородская область)<br>ООО "Торговый дом "БМК"',
    [
      [
        "+7 (831) 262 -18 - 67"," (отдел продаж, контактное лицо - Мельников Денис Павлович)",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "nvgrdsk",'Дилер г. Великий Новгород (Новгородская область)<br>ООО «БМК-СЕВЕР»',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "orlvsk",'Дилер г. Орёл (Орловская область)<br>ИП Ховренок Д.А.',
    [
      [
        "+7 (920) 747 80 20"," (контактное лицо - Ховренок Дмитрий Александрович)",
        "","",
        "89207478020@mail.ru",""
      ],
      [
        "+7 (4872) 79 03 79, +7 (930) 790-80-20"," (отдел продаж)",
        "","",
        "gostfood@mail.ru","www.gostpp.ru"
      ]
    ])
  +partner-contacts(
    "pnzsk",'Дилер г. Пенза (Пензенская область)<br>ООО "Торговый дом "БМК"',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "permsk",'Дилер г. Пермь (Пермский край)<br>ООО "Торговый дом "БМК"',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "primsk",'Дилер г. Владивосток (Приморский край)<br>ООО "Торговый дом "БМК"',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "pskv",'Дилер г. Псков (Псковская область)<br>ООО «БМК-СЕВЕР»',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "adg",'Дилер г.Майкоп (Республика Адыгея)<br>ИП Сухоруков А.В.',
    [
      [
        "8 (800) 700-35-82","",
        "+7 (879) 345-50-05","",
        "meat-kavkaz@mail.ru","www.veras.biz",
        "+7 (961) 481-90-05"
      ]
    ])
  +partner-contacts(
    "krl",'Дилер в г. Петрозаводск (Республики Карелия)<br>ООО «БМК-СЕВЕР»',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru",
        ""
      ]
    ])
  +partner-contacts(
    "komi",'Дилер г. Сыктывкар (Республика Коми)<br>ООО "Торговый дом "БМК"',
    [
      [
        "+7 (8212) 72-02-09"," (отдел продаж, контактное лицо - Матюхин Алексей Владимирович)",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru",
        ""
      ]
    ])
  +partner-contacts(
    "udmrt",'Дилер г. Ижевск (Республика Удмуртия)<br>ООО «БМК-ЦЕНТР»',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru",
        ""
      ]
    ])
  +partner-contacts(
    "sevast",'Дилер Алания (Республика Северная Осетия)<br>ИП Сухоруков А.В.',
    [
      [
        "8 (800) 700-35-82","",
        "+7 (879) 345-50-05","",
        "brest-mk@mail.ru","www.bmk-td.ru",
        "+7 (961) 481-90-05"
      ]
    ])
  +partner-contacts(
    "rst",'Дилер г.Ростов на дону (Ростовская область)<br>ИП Сухоруков А.В.',
    [
      [
        "8 (800) 700-35-82","",
        "+7 (879) 345-50-05","",
        "brest-mk@mail.ru","www.bmk-td.ru",
        "+7 (961) 481-90-05"
      ]
    ])
  +partner-contacts(
    "rzn",'Дилер г.Рязань (Рязанская область)<br>ИП Прохоренков В.В',
    [
      [
        "8 (4912) 22-22-46"," (склад №4)",
        "8 (4912) 36-93-71","",
        "","",
        "8 (920) 638-99-95"," (Ковалёва Вера Михайловна)",
        "8 (910) 902-41-36"," (Ковалёва Вера Михайловна)",
        "8 (920) 638-99-97"," (Ковалёв Михаил Сергеевич)",
        "8 (915) 593-35-78"," (менеджер Светлана)"
      ]
    ])
  +partner-contacts(
    "smr",'Дилер в г. Самара (Самарская область)<br>ООО "Торговый дом "БМК"',
    [
      [
        "+7 (8452) 39-71-72"," (отдел продаж, контактное лицо - Романова Антонина Валерьевна)",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "srtv",'Дилер в  г. Саратов (Саратовская область)<br>ООО "Торговый дом "БМК"',
    [
      [
        "+7 (8452) 39-71-72"," (отдел продаж, контактное лицо - Романова Антонина Валерьевна)",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "svrdl",'Дилер г. Екатеринбург (Свердловская область)<br>ООО «БМК-ЦЕНТР»',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "smlnsk",'Дилер г. Смоленск (Смоленская область)<br>ООО «БМК-СЕВЕР»',
    [
      [
        "+7 (4812) 33-01-01"," (отдел продаж, контактное лицо – Королёва Лариса Александровна)",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "stvrpl",'Дилер г. Ставрополь (Ставропольский край)<br>ИП Сухоруков А.В.',
    [
      [
        "8 (800) 700-35-82","",
        "+7 (879) 345-50-05","",
        "brest-mk@mail.ru","www.bmk-td.ru",
        "+7 (961) 481-90-05",""
      ]
    ])
  +partner-contacts(
    "tvr",'Генеральный дилер г. Тверь (Тверская область)<br>ООО Компания "СТРИНГ"',
    [
      [
        "+7 (4822) 75-10-10"," (отдел продаж, контактное лицо - Романов Денис Анатольевич)",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  +partner-contacts(
    "tula",'Дилер г. Тула (Тульская область)<br>ИП Ховренок Д.А.',
    [
      [
        "+7 (920) 747 80 20"," (контактное лицо - Ховренок Дмитрий Александрович)",
        "","",
        "89207478020@mail.ru",""
      ],
      [
        "+7 (4872) 79 03 79, +7 (930) 790-80-20"," (отдел продаж)",
        "","",
        "gostfood@mail.ru","www.gostpp.ru"
      ]
    ])
  +partner-contacts(
    "furgal",'Дилер в г. Хабаровск (Хабаровский край)<br>ИП Ховренок Д.А.',
    [
      [
        "+7 (920) 747 80 20"," (контактное лицо - Ховренок Дмитрий Александрович)",
        "","",
        "89207478020@mail.ru",""
      ],
      [
        "+7 (4872) 79 03 79, +7 (930) 790-80-20"," (отдел продаж)",
        "","",
        "gostfood@mail.ru","www.gostpp.ru"
      ]
    ])
  +partner-contacts(
    "chlbnsk",'Дилер г. Челябинск (Челябинская область)<br>ООО "Торговый дом "БМК"',
    [
      [
        "8 (800) 550-69-01"," отдел продаж",
        "","",
        "brest-mk@mail.ru","www.bmk-td.ru"
      ]
    ])
  h3.partner-contacts-section__title.animate.scroll Если Ваш регион отсутствует в списке, свяжитесь с нами:
  .partner-contacts.__default
    article.partner-contact.__default
      h6.partner-contact__title.__default.animate.scroll Поставки продукции На территории РБ
      ul.partner-contact__list.__default
        li.partner-contact__list-item.__default.animate.scroll
          a(href="tel:+375 (162) 27 78 79") 
            strong +375 (162) 27 78 79 
            | Отдел продаж 
    article.partner-contact.__default
      h6.partner-contact__title.animate.scroll Поставки продукции За пределами РБ
      ul.partner-contact__list.__default
        li.partner-contact__list-item.__default.animate.scroll
          a(href="tel:+375 (162) 27 78 79")
            strong  +375 (162) 27 78 30 
            | Отдел ВЭД
