section.section.vacancies-section.page-top__section
  h1.section__title.vacancies-section__title.animate Вакансии
  //vacancies start
  .vacancies
    //vacancies__card start
    article.vacancies__card.animate 
      h5.vacancies__card-title Бресткий мясокомбинат
      h6.vacancies__card-city Брест
      a.vacancies__card-link(href="page-vacancy.html")
    //vacancies__card end
    
    article.vacancies__card.animate 
      h5.vacancies__card-title Брестские традиции
      h6.vacancies__card-city Брест
      a.vacancies__card-link(href="page-vacancy.html")
    article.vacancies__card.animate 
      h5.vacancies__card-title Брестские угощения
      h6.vacancies__card-city Брест, Пинск, Барановичи, Кобрин
      a.vacancies__card-link(href="page-vacancy.html")
    article.vacancies__card.animate 
      h5.vacancies__card-title Сельскохозяйственная Хотиславский
      h6.vacancies__card-city Брест
      a.vacancies__card-link(href="page-vacancy.html")
    article.vacancies__card.animate 
      h5.vacancies__card-title Сельскохозяйственная компания Озяты
      h6.vacancies__card-city Брест, пинск
      a.vacancies__card-link(href="page-vacancy.html")
    article.vacancies__card.animate 
      h5.vacancies__card-title Сельскохозяйственная компания Сычево
      h6.vacancies__card-city Брест
      a.vacancies__card-link(href="page-vacancy.html")
  //vacancies end
  