section.section.recipe-section
  h5.section__title.recipe-section__title.animate.scroll Рецепт дня
  article.recipe-card.animate.scroll
    a.recipe-card__picture(href="page-recipe.html")
      include ./../../mixins/img
      +img(
        "./img/recipe/recipe-image__current.jpg",
        "Мясной рулет")
    .recipe-card__content
      h2.recipe-card__title Мясной рулет
      ul.recipe-card__info
        li.recipe-card__info-item
          i.recipe-card__info-icon
            include ./../../mixins/img-NL
            +img(
              "./img/icons/icon-clock.svg",
              "Время готовки")
          span.recipe-card__info-title 1 ч 15 мин
        li.recipe-card__info-item
          i.recipe-card__info-icon
            include ./../../mixins/img-NL
            +img(
              "./img/icons/icon-food.svg",
              "Количество порций")
          span.recipe-card__info-title 5 порций
      h5.recipe-card__subtitle Ингридиенты
      ul.recipe-card__list
        li.recipe-card__list-item
          span.recipe-card__list-item__content Мясо сыровяленое
          span.recipe-card__list-item__content 1000 гр
        li.recipe-card__list-item
          span.recipe-card__list-item__content Мясо сыровяленое
          span.recipe-card__list-item__content 1000 гр
        li.recipe-card__list-item
          span.recipe-card__list-item__content Мясо сыровяленое
          span.recipe-card__list-item__content 1000 гр
        li.recipe-card__list-item
          span.recipe-card__list-item__content Мясо сыровяленое
          span.recipe-card__list-item__content 1000 гр
        li.recipe-card__list-item
          span.recipe-card__list-item__content Мясо сыровяленое
          span.recipe-card__list-item__content 1000 гр
      a.btn.recipe-card__btn(href="page-recipe.html") Смотреть ещё
      include ./../../mixins/share
      +share(
        "Поделиться рецептом",
        [
          [
            "https://www.facebook.com/",
            "./img/icons/icon-fb.svg",
            "Поделится в Facebook"
          ],
          [
            "https://vk.com/",
            "./img/icons/icon-vk.svg",
            "Поделится в VK"
          ],
          [
            "https://www.instagram.com/",
            "./img/icons/icon-inst.svg",
            "Поделится в Instagram"
          ],
          [
            "https://ok.ru/",
            "./img/icons/icon-ok.svg",
            "Поделится в OK"
          ],
          [
            "https://web.telegram.org/",
            "./img/icons/icon-tg.svg",
            "Поделится в Telegram"
          ]

        ],
        "recipe-card")
