.section.callback-section
  .wrapper
    .callback-info
      article.callback-info__coll
        h3 
          strong Форма обратной связи
        p Заполните форму и мы в ближайшее время свяжемся с Вами
      article.callback-info__coll
        h5 
          strong ТЕЛЕФОН ГОРЯЧЕЙ ЛИНИИ:
        a(href="tel:80 (17) 343-49-00 ") 80 (17) 343-49-00 
    a.btn.callback-section__btn.show-modal(href="#modal__form") 
      span.btn__title Свяжитесь с нами
      i.btn__icon.btn__icon-mail