section.section.brand-shops-section
  h2.brand-shops-section__title.animate Адреса фирменных магазинов
  //brand-shops start
  include ./../other/brand-shops
  //brand-shops end

  //shops-map start
  include ./../other/shops-map
  //shops-map end
