section.section.recipes-section
  h1.section__title.recipes-section__title.animate.scroll рецепты
  .recipes-wrapper
    //recipes__filter start
    include ./../other/recipes__filter
    //recipes__filter end

    //- //recipes__menu-form start
    //- include ./../other/recipes__menu-form
    //- //recipes__menu-form end

    //recipes start
    include ./../other/recipes
    //recipes end