section.section.catalog-section
  h5.section__title.animate.catalog-section__title Сырокопченые и сыровяленые колбасы
  .catalog-wrapper
    //catalog__menu start
    include ./../other/catalog__menu
    //catalog__menu end

    //catalog__menu-form start
    include ./../other/catalog__menu-form
    //catalog__menu-form end

    //catalog start
    include ./../other/catalog
    //catalog end
