.section.callback-section.__vacancy-page
  .wrapper.__vacancy-page
    .callback-info.__vacancy-page
      article.callback-info__coll.__vacancy-page.animate.scroll
        h3 
          strong Анкета соискателя
        p Заполните анкету соискателя и отправьте ее нам
    a.btn.callback-section__btn.animate.scroll(href="page-cv.html") 
      span.btn__title Заполнить анкету
      i.btn__icon.btn__icon-cv