section.section.catalog-category-section
  h5.section__title.catalog-category-section__title.animate кАТАЛОГ
  //catalog-category start
  .catalog-category
    include ./../../mixins/catalog-category-card
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-1.png",
      "Сырокопченые и сыровяленые колбасы",
      "animate")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-2.png",
      "Варенокопченые и полукопченые колбасы",
      "animate")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-3.png",
      "Вареные колбасы",
      "animate")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-4.png",
      "Сосиски и сардельки",
      "animate")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-5.png",
      "ветчина",
      "animate")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-6.png",
      "копчености",
      "animate")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-7.png",
      "рулеты",
      "animate")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-8.png",
      "Изделия из субпродуктов",
      "animate")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-9.png",
      "Студни",
      "animate scroll")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-10.png",
      "Пельмени и вареники",
      "animate scroll")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-11.png",
      "шашлык",
      "animate scroll")
    +catalog-category-card(
      "./img/catalog/category/catalog-category__image-12.png",
      "Мясные полуфабрикаты",
      "animate scroll")
  //catalog-category end