section.section.brand-trade-section.page-top__section
  h1.section__title.brand-trade-section__title.animate Фирменная торговля
  .wrapper.brand-trade-wrapper.animate
    article.article.brand-trade__article
      table
        tr
          td 
            p Для удобства покупателей, которые ценят и любят продукцию Брестского мясокомбината, создана сеть фирменных магазинов "Брестские угощения".<br>Всегда свежая продукция по ценам производителя.<br>Возможность в числе первых познакомиться с <span style="font-weight:600; color: #e31e24">НОВИНКАМИ</span>.
          td 
            p Широкий ассортимент.<br>Вкус, сформированный временем.<br>Экономия средств, покупая продукцию по <span style="font-weight:600; color: #e31e24">АКЦИИ</span> только в фирменных магазинах.




            