section.section.partner-section.page-top__section 
  .wrapper
    //partner-article start
    article.article.partner-article.animate
      p ОАО "Брестский мясокомбинат" осуществляет деятельность на мясном рынке более 70 лет и специализируется на производстве и продаже колбасных изделий, мясных деликатесов и полуфабрикатов и сотрудничает только с надежными дилерами, готовыми работать в соответствии со стандартами качества ОАО “Брестский мясокомбинат”.  Воспользуйтесь формой, чтобы получить контакты торгового представителя или дилера в Вашем регионе.<br> ОАО "Брестский мясокомбинат" осуществляет деятельность на мясном рынке более 70 лет и специализируется на производстве и продаже колбасных изделий, мясных деликатесов и полуфабрикатов.
    //partner-article end
    
    //advantages start
    .advantages.animate
      article.advantages-item
        include ./../../mixins/picture-NL
        +picture(
          "./img/awards/awards__image-3.png",
          "Преимущество 1 ",
          "advantages-item")
        h6.advantages-item__title Преимущество 1 
        .advantages-item__content 
          p ОАО "Брестский мясокомбинат" осуществляет деятельность на мясном рынке более 70 лет и специализируется на производстве и продаже колбасных изделий, мясных деликатесов и полуфабрикатов и сотрудничает 
      article.advantages-item
        include ./../../mixins/picture-NL
        +picture(
          "./img/awards/awards__image-3.png",
          "Преимущество 1 ",
          "advantages-item")
        h6.advantages-item__title Преимущество 2 
        .advantages-item__content 
          p ОАО "Брестский мясокомбинат" осуществляет деятельность на мясном рынке более 70 лет и специализируется на производстве и продаже колбасных изделий, мясных деликатесов и полуфабрикатов и сотрудничает
      article.advantages-item
        include ./../../mixins/picture-NL
        +picture(
          "./img/awards/awards__image-3.png",
          "Преимущество 1 ",
          "advantages-item")
        h6.advantages-item__title Преимущество 3 
        .advantages-item__content 
          p ОАО "Брестский мясокомбинат" осуществляет деятельность на мясном рынке более 70 лет и специализируется на производстве и продаже колбасных изделий, мясных деликатесов и полуфабрикатов и сотрудничает
    //advantages end

    //partner-map start
    #partnerMap.partner-map
    //partner-map end

    //partner-check start
    include ./../other/partner-check
    //partner-check end
