section.section.articles-section.__page-pressroom
  h5.section__title.articles-section__title.__page-pressroom.animate Пресс-центр
  article.articles-anons.__page-pressroom.animate
    a.articles-anons__picture.__page-pressroom(href="page-article-pressroom.html")   
      include ./../../mixins/img
      +img(
        "./img/pressroom/pressroom-image.jpg",
        'ОАО “Брестский мясокомбинат” спешит поздравить Вас со Светлым Праздником Пасхи')
    .articles-anons__content.__page-pressroom
      time(datetime="2021-04-30").date.articles-anons__date.__page-pressroom 30 апреля 2021
      h4.articles-anons__title.__page-pressroom ОАО “Брестский мясокомбинат” спешит поздравить Вас со Светлым Праздником Пасхи
      .articles-anons__text.__page-pressroom 
        p Пусть этот величественный праздник наполнит Ваши сердца светлыми чувствами надежды и любви, дарит счастье и добро. Желаем Вам радости, здоровья и благополучия.
      a.articles-link.__page-pressroom(href="page-article-pressroom.html") 
        | Читать
        i.articles-link__icon.__page-pressroom
          include ./../../mixins/img-NL
          +img(
            "./img/icons/icon-arrow-double.svg",
            "Читать")

  #articles.articles.__page-pressroom
    include  ./../../mixins/articles-card
    +articles-card(
      "./img/pressroom/pressroom-card__image-1.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    +articles-card(
      "./img/pressroom/pressroom-card__image-2.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    +articles-card(
      "./img/pressroom/pressroom-card__image-3.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    +articles-card(
      "./img/pressroom/pressroom-card__image-1.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    +articles-card(
      "./img/pressroom/pressroom-card__image-2.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    +articles-card(
      "./img/pressroom/pressroom-card__image-3.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    +articles-card(
      "./img/pressroom/pressroom-card__image-1.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    +articles-card(
      "./img/pressroom/pressroom-card__image-2.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    +articles-card(
      "./img/pressroom/pressroom-card__image-3.jpg",
      "ОАО “Брестский мясокомбинат” поздравляет с 1 мая!",
      "page-article-pressroom.html",
      "pressrooms",
      "animate scroll",
      "06.06.2020",
      "06 июня 2020")
    a#show-more.btn.articles__btn.__page-pressroom.animate.scroll(href="#") Показать ещё


