section.section.vacancy-section
  h5.section__title.vacancy-section__title.animate Вакансии

  .vacancy.animate
    include ./../../mixins/vacancy-collapsible
    +collapsible("Токарь (г. Брест)")
    +collapsible("Составитель фарша (г. Брест) ")
    +collapsible("Подсобный рабочий (г. Брест)")
    +collapsible("Подсобный рабочий (г. Брест)")
  .wrapper
    a.vacancy-link.animate.scroll(href="page-career.html") 
      i.vacancy-link__icon 
        include ./../../mixins/img-NL
        +img(
            "./img/icons/icon-arrow-double.svg",
            "Вернуться назад")
      span.vacancy-link__title Вернуться назад
