section.section.brand-shops-section
  h2.brand-shops-section__title.animate Адреса фирменных магазинов
  //brand-shops start
  include ./../other/brand-shops
  //brand-shops end

  //brand-shops-mobile start
  .brand-shops-mobile.animate.scroll
    include ./../other/brand-shops-mobile
  //brand-shops-mobile end

  //shops-map start
  include ./../other/shops-map
  //shops-map end
