mixin novelty-slide(img,title,label)
  article.novelty-slide.swiper-slide
    if label
      span.label.label--new.novelty-slide__label!=label
    include ./picture
    +picture(
      img,
      title,
      "novelty-slide")
    h6.novelty-slide__title!=title
    .novelty-slide__info
      .novelty-slide__info-item
        i.novelty-slide__info-item__icon 
          include ./img-NL
          +img("./img/icons/icon-calorie.svg")
        .novelty-slide__info-item__group
          span.novelty-slide__info-item__title Ккал
          span.novelty-slide__info-item__text 170
      .novelty-slide__info-item
        i.novelty-slide__info-item__icon 
          include ./img-NL
          +img("./img/icons/icon-fats.svg")
        .novelty-slide__info-item__group
          span.novelty-slide__info-item__title Жиры
          span.novelty-slide__info-item__text 8,0
      .novelty-slide__info-item
        i.novelty-slide__info-item__icon 
          include ./img-NL
          +img("./img/icons/icon-proteins.svg")
        .novelty-slide__info-item__group
          span.novelty-slide__info-item__title Белки
          span.novelty-slide__info-item__text 8,0
      .novelty-slide__info-item
        i.novelty-slide__info-item__icon 
          include ./img-NL
          +img("./img/icons/icon-carbohydrates.svg")
        .novelty-slide__info-item__group
          span.novelty-slide__info-item__title Углеводы
          span.novelty-slide__info-item__text 8,0
    a.novelty-slide__link(href="page-novelty.html") 