header.header
  .wrapper.header-wrapper
    a.menu__burger(
      href="#",
      role="button",
      aria-label="Бургер меню",
      tabindex="0") 
      span
      span
      span
    a.logo.header-logo(href="#")
      include ./../../mixins/img-NL
      +img(
        "./img/logo.svg",
        "ОАО Брестский мясокомбинат  - производитель и поставщик колбасных изделий, мясных полуфабрикатов из Республики Беларусь")
    include ./../../mixins/menu.pug
    +menu([
            ["Каталог","page-catalog.html"],
            ["Рецепты","page-recipe.html"],
            ["О компании","page-about.html"],
            ["Партнерам","page-partner.html"],
            ["Карьера","page-career.html"],
            ["Контакты","page-contact.html"]
          ])
    
