.brand-shops.animate
  include ./../../mixins/brand-shops__card
  +brand-shops__card(
    "Маказин «Консум»",
    "<mark >г. Брест,</mark> ул. Писателя Смирнова, 4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «ЯН»",
    "<mark >г. Брест,</mark>  ул. Московская, 340",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Верас-14»",
    "<mark >г. Брест,</mark> ул. Гоголя, 80",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
.brand-shops.animate.scroll
  include ./../../mixins/brand-shops__card
  +brand-shops__card(
    "Лоток магазина «Верас-14»",
    "<mark >г.Брест,</mark> Центральный Брестский рынок, ул.Карбышева, 25",
    [
      [
        "8.00-18.00"
      ],
      [
        "Сан день 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Консум»",
    "224034,<mark >г. Брест,</mark> ул. Писателя Смирнова, 4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Консум»",
    "224034,<mark >г. Брест,</mark> ул. Писателя Смирнова, 4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
.brand-shops.animate.scroll
  include ./../../mixins/brand-shops__card
  +brand-shops__card(
    "Маказин «Консум»",
    "224034,<mark >г. Брест,</mark> ул. Писателя Смирнова, 4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Консум»",
    "224034,<mark >г. Брест,</mark> ул. Писателя Смирнова, 4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Консум»",
    "224034,<mark >г. Брест,</mark> ул. Писателя Смирнова, 4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
.brand-shops.animate.scroll
  include ./../../mixins/brand-shops__card
  +brand-shops__card(
    "Маказин «Консум»",
    "224034,<mark >г. Брест,</mark> ул. Писателя Смирнова, 4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Консум»",
    "<mark >г. Пинск,</mark>  ул. Брестская, 19-4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Консум»",
    "<mark >г. Пинск,</mark> ул. Брестская, 19-4",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
.brand-shops.animate.scroll
  include ./../../mixins/brand-shops__card
  +brand-shops__card(
    "Маказин «Консум»",
    "<mark >г. Брест,</mark>г. Брест, ул. Орджоникидзе, 7",
    [
      [
        "Пн- Пт 10.00-20.00"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Консум»",
    "<mark >г.Пружаны,</mark> ул. Ленина 6/1",
    [
      [
        "Пн- Пт 10.00-20.00"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
  +brand-shops__card(
    "Маказин «Консум»",
    "<mark >г. Брест,</mark> ул. Волгоградская, 11",
    [
      [
        "Пн- Пт 8.00-20.00"
      ],
      [
        "Сб  8.00-17.00, Вс - выходной"
      ],
      [
        "Сан день: 1-й пн месяца"
      ]
    ],
    [
      ["+375 (212) 61-45-98","+375 (212) 61-45-98 (Отдел сбыта)"],
      ["+375 17 343-49-00","+375 17 343-49-00 (ФАКС)"]
    ])
