article.collapsible.brand-shops__collapsible
  h6.collapsible__title.brand-shops__collapsible-title Брест
  i.collapsible__icon.brand-shops__collapsible-icon
.collapsible__content.brand-shops__collapsible-content
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper.animate
    h5.brand-shops__collapsible-content__title Маказин «Консум»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Брест,</mark> ул. Писателя Смирнова, 4
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item Пн - Пт 8.00-20.00
      li.brand-shops__collapsible-list__item Сб  8.00-17.00, Вс - выходной
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper.animate
    h5.brand-shops__collapsible-content__title Маказин «ЯН»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Брест,</mark> ул. Московская, 340
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item Пн - Пт 8.00-20.00
      li.brand-shops__collapsible-list__item Сб  8.00-17.00, Вс - выходной
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper
    h5.brand-shops__collapsible-content__title Маказин «Верас-14»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Брест,</mark> ул. Гоголя, 80
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item Пн - Пт 8.00-20.00
      li.brand-shops__collapsible-list__item Сб  8.00-17.00, Вс - выходной
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper
    h5.brand-shops__collapsible-content__title Лоток магазина «Верас-14»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Брест,</mark> Центральный Брестский рынок, ул.Карбышева, 25
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item 8.00-18.00
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper
    h5.brand-shops__collapsible-content__title Маказин «Консум»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Брест,</mark> ул. Писателя Смирнова, 4
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item Пн - Пт 8.00-20.00
      li.brand-shops__collapsible-list__item Сб  8.00-17.00, Вс - выходной
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper
    h5.brand-shops__collapsible-content__title Маказин «Консум»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Брест,</mark> ул. Орджоникидзе, 7
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item Пн - Пт 10.00-20.00
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper
    h5.brand-shops__collapsible-content__title Маказин «Консум»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Брест,</mark> ул. Волгоградская, 11
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item Пн - Пт 8.00-20.00
      li.brand-shops__collapsible-list__item Сб  8.00-17.00, Вс - выходной
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
article.collapsible.brand-shops__collapsible
  h6.collapsible__title.brand-shops__collapsible-title Пинск
  i.collapsible__icon.brand-shops__collapsible-icon
.collapsible__content.brand-shops__collapsible-content
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper
    h5.brand-shops__collapsible-content__title Маказин «Консум»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Пинск,</mark> ул. Брестская, 19-4
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item Пн - Пт 8.00-20.00
      li.brand-shops__collapsible-list__item Сб  8.00-17.00, Вс - выходной
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
article.collapsible.brand-shops__collapsible
  h6.collapsible__title.brand-shops__collapsible-title Пружаны
  i.collapsible__icon.brand-shops__collapsible-icon
.collapsible__content.brand-shops__collapsible-content
  article.collapsible__content-wrapper.brand-shops__collapsible-content__wrapper
    h5.brand-shops__collapsible-content__title Маказин «Консум»
    h6.brand-shops__collapsible-subtitle Адрес:
    p.brand-shops__collapsible-address <mark >г. Пружаны,</mark> ул. Ленина 6/1
    h6.brand-shops__collapsible-subtitle Режим работы:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item Пн - Пт 10.00-20.00
      li.brand-shops__collapsible-list__item Сан день: 1-й пн месяца
    p.brand-shops__collapsible-subtitle Телефоны:
    ul.brand-shops__collapsible-list
      li.brand-shops__collapsible-list__item   
        a.brand-shops__collapsible-list__link(href="tel+375 (212) 61-45-98")  +375 (212) 61-45-98 (Отдел сбыта)
        a.brand-shops__collapsible-list__link(href="tel+375 17 343-49-00") +375 17 343-49-00 (ФАКС)
