#cards.cards.catalog
  include ./../../mixins/catalog-card
  +catalog-card(
    "./img/catalog/catalog__image-1.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n1")
  +catalog-card(
    "./img/catalog/catalog__image-2.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n1")
  +catalog-card(
    "./img/catalog/catalog__image-3.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n1")
  +catalog-card(
    "./img/catalog/catalog__image-4.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n2")
  +catalog-card(
    "./img/catalog/catalog__image-5.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n5")
  +catalog-card(
    "./img/catalog/catalog__image-6.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n4")
  +catalog-card(
    "./img/catalog/catalog__image-7.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n99")
  +catalog-card(
    "./img/catalog/catalog__image-8.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n12")
  +catalog-card(
    "./img/catalog/catalog__image-9.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n3")
  +catalog-card(
    "./img/catalog/catalog__image-10.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n1")
  +catalog-card(
    "./img/catalog/catalog__image-11.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n8")
  +catalog-card(
    "./img/catalog/catalog__image-12.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n9")
  +catalog-card(
    "./img/catalog/catalog__image-6.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n7")
  +catalog-card(
    "./img/catalog/catalog__image-7.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n6")
  +catalog-card(
    "./img/catalog/catalog__image-8.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n98")
  +catalog-card(
    "./img/catalog/catalog__image-9.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n91")
  +catalog-card(
    "./img/catalog/catalog__image-10.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n11")
  +catalog-card(
    "./img/catalog/catalog__image-11.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n1")
  +catalog-card(
    "./img/catalog/catalog__image-12.png",
    'Колбаса сырокопченая "Миланская"',
    "animate",
    "filter-n12")
    
  button.btn.cards__btn.catalog__btn.show-more Показать еще