#catalog.catalog
  include ./../../mixins/catalog-card
  +catalog-card(
    "./img/catalog/catalog__image-1.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-2.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-3.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-4.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-5.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-6.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-7.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-8.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-9.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-10.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-11.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-12.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-6.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-7.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-8.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-9.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-10.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-11.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  +catalog-card(
    "./img/catalog/catalog__image-12.png",
    'Колбаса сырокопченая "Миланская"',
    "animate")
  button.btn.catalog__btn.show-more Показать еще