.history-slider.swiper-container.animate
  .history-slides.swiper-wrapper
    include ./../../mixins/history-slide
    +history-slide(
      "Брестский мясокомбинат сегодня",
      "1987",
      "<p>Сегодня «Брестский мясокомбинат» – это лидер мясной промышленности Беларуси. Наша компания занимается важным и благородным делом – обеспечивает людей вкусными мясными продуктами.</p><p>Для того, чтобы удерживать лидирующие позиции на рынке и любовь покупателя, компания не перестаёт развиваться: совершенствуется логистика, закупается новое передовое оборудование, автоматизируются склады.</p><p>Качественное сырье, использование натуральных специй и пряностей, бережное отношение к традициям и современное техническое оснащение – залог успеха «Брестского мясокомбината».</p>",
      "./img/about/about-slide__image-1.jpg")
    +history-slide(
      "Брестский мясокомбинат сегодня",
      "1987",
      "<p>Сегодня «Брестский мясокомбинат» – это лидер мясной промышленности Беларуси. Наша компания занимается важным и благородным делом – обеспечивает людей вкусными мясными продуктами.</p><p>Для того, чтобы удерживать лидирующие позиции на рынке и любовь покупателя, компания не перестаёт развиваться: совершенствуется логистика, закупается новое передовое оборудование, автоматизируются склады.</p><p>Качественное сырье, использование натуральных специй и пряностей, бережное отношение к традициям и современное техническое оснащение – залог успеха «Брестского мясокомбината».</p>",
      "./img/about/about-slide__image-1.jpg")
    +history-slide(
      "Брестский мясокомбинат сегодня",
      "1987",
      "<p>Сегодня «Брестский мясокомбинат» – это лидер мясной промышленности Беларуси. Наша компания занимается важным и благородным делом – обеспечивает людей вкусными мясными продуктами.</p><p>Для того, чтобы удерживать лидирующие позиции на рынке и любовь покупателя, компания не перестаёт развиваться: совершенствуется логистика, закупается новое передовое оборудование, автоматизируются склады.</p><p>Качественное сырье, использование натуральных специй и пряностей, бережное отношение к традициям и современное техническое оснащение – залог успеха «Брестского мясокомбината».</p>",
      "./img/about/about-slide__image-1.jpg")
    +history-slide(
      "Брестский мясокомбинат сегодня",
      "1987",
      "<p>Сегодня «Брестский мясокомбинат» – это лидер мясной промышленности Беларуси. Наша компания занимается важным и благородным делом – обеспечивает людей вкусными мясными продуктами.</p><p>Для того, чтобы удерживать лидирующие позиции на рынке и любовь покупателя, компания не перестаёт развиваться: совершенствуется логистика, закупается новое передовое оборудование, автоматизируются склады.</p><p>Качественное сырье, использование натуральных специй и пряностей, бережное отношение к традициям и современное техническое оснащение – залог успеха «Брестского мясокомбината».</p>",
      "./img/about/about-slide__image-1.jpg")
    +history-slide(
      "Брестский мясокомбинат сегодня",
      "1987",
      "<p>Сегодня «Брестский мясокомбинат» – это лидер мясной промышленности Беларуси. Наша компания занимается важным и благородным делом – обеспечивает людей вкусными мясными продуктами.</p><p>Для того, чтобы удерживать лидирующие позиции на рынке и любовь покупателя, компания не перестаёт развиваться: совершенствуется логистика, закупается новое передовое оборудование, автоматизируются склады.</p><p>Качественное сырье, использование натуральных специй и пряностей, бережное отношение к традициям и современное техническое оснащение – залог успеха «Брестского мясокомбината».</p>",
      "./img/about/about-slide__image-1.jpg")
    +history-slide(
      "Брестский мясокомбинат сегодня",
      "1987",
      "<p>Сегодня «Брестский мясокомбинат» – это лидер мясной промышленности Беларуси. Наша компания занимается важным и благородным делом – обеспечивает людей вкусными мясными продуктами.</p><p>Для того, чтобы удерживать лидирующие позиции на рынке и любовь покупателя, компания не перестаёт развиваться: совершенствуется логистика, закупается новое передовое оборудование, автоматизируются склады.</p><p>Качественное сырье, использование натуральных специй и пряностей, бережное отношение к традициям и современное техническое оснащение – залог успеха «Брестского мясокомбината».</p>",
      "./img/about/about-slide__image-1.jpg")
    +history-slide(
      "Брестский мясокомбинат сегодня",
      "1987",
      "<p>Сегодня «Брестский мясокомбинат» – это лидер мясной промышленности Беларуси. Наша компания занимается важным и благородным делом – обеспечивает людей вкусными мясными продуктами.</p><p>Для того, чтобы удерживать лидирующие позиции на рынке и любовь покупателя, компания не перестаёт развиваться: совершенствуется логистика, закупается новое передовое оборудование, автоматизируются склады.</p><p>Качественное сырье, использование натуральных специй и пряностей, бережное отношение к традициям и современное техническое оснащение – залог успеха «Брестского мясокомбината».</p>",
      "./img/about/about-slide__image-1.jpg")
    +history-slide(
      "Брестский мясокомбинат сегодня",
      "1987",
      "<p>Сегодня «Брестский мясокомбинат» – это лидер мясной промышленности Беларуси. Наша компания занимается важным и благородным делом – обеспечивает людей вкусными мясными продуктами.</p><p>Для того, чтобы удерживать лидирующие позиции на рынке и любовь покупателя, компания не перестаёт развиваться: совершенствуется логистика, закупается новое передовое оборудование, автоматизируются склады.</p><p>Качественное сырье, использование натуральных специй и пряностей, бережное отношение к традициям и современное техническое оснащение – залог успеха «Брестского мясокомбината».</p>",
      "./img/about/about-slide__image-1.jpg")
  .history-slider__pagination.animate.scroll
