#modal__thanks.modal.--open
  .modal__body.modal__thanks
    a.modal__thanks-close.close__modal(href="#",role="button") 
      span
      span
    .modal__content.modal__thanks-content
      a.modal__close.modal__close-thanks.close__modal(href="#",role="button") 
        span
        span
      | Cпасибо что заполнили форму обратной связи, с Вами свяжутся в ближайшее время.