section.partner-check.animate.scroll
  h2.partner-check__title Узнайте контакты дилера в вашем регионе
  .partner-check__row
    #country.partner-check__item 
      include ./../../mixins/select-partner-country
      +select(
        "partner-country","partner","Выберите страну",
        [
          ["",""],
          ["Азейбарджан","azb"],
          ["Армения","arm"],
          ["Беларусь","by"],
          ["Вьетнам","vie"],
          ["Гонконг","hkg"],
          ["Грузия","geo"],
          ["Иордания","jor"],
          ["Казахстан","kaz"],
          ["КНР","chn"],
          ["Кот-Д'Ивуар","civ"],
          ["Кыргызстан","kgz"],
          ["Малайзия","mas"],
          ["Республика Гана","gha"],
          ["Россия","ru"],
          ["Сингапур","sgp"],
          ["Узбекистан","uzb"]
        ],
        "country-select","","Страна")
    #region.partner-check__item.__disabled
      include ./../../mixins/select-partner-region
      +select(
        "partner-region","partner","Выберите регион",
        [
          ["",""],
          ["Брестская область","by","brst"],
          ["Витебская область","by","vtbsk"],
          ["Гомельская область","by","gml"],
          ["Гродненская область","by","grdn"],
          ["Минская область","by","mnsk"],
          ["Могилёвская область","by","mglv"],
          ["Архангельская область","ru","archnglsk"],
          ["Астраханская область","ru","astrhn"],
          ["Белгородская область","ru","blgrd"],
          ["Волгоградская область","ru","vlggrd"],
          ["Воронежская область","ru","vrnj"],
          ["Забайкальский край","ru","zbkl"],
          ["Калужская область","ru","klj"],
          ["Кировская область","ru","krv"],
          ["Краснодарский край","ru","krsndr"],
          ["Красноярский край","ru","krsnj"],
          ["Курская область","ru","krsk"],
          ["Ленинградская область","ru","spb"],
          ["Липецкая область","ru","lpck"],
          ["Магаданская область","ru","mgdn"],
          ["Московская область","ru","msk"],
          ["Мурманская область","ru","mrmnsk"],
          ["Нижегородская область","ru","njgrdsk"],
          ["Новгородская область","ru","nvgrdsk"],
          ["Орловская область","ru","orlvsk"],
          ["Пензенская область","ru","pnzsk"],
          ["Пермский край","ru","permsk"],
          ["Приморский край","ru","primsk"],
          ["Псковская область","ru","pskv"],
          ["Республика Адыгея","ru","adg"],
          ["Республика Карелия","ru","krl"],
          ["Республика Коми","ru","komi"],
          ["Республика Удмуртия","ru","udmrt"],
          ["Реуспублика Северная Осетия","ru","sevast"],
          ["Ростовская область","ru","rst"],
          ["Рязанская область","ru","rzn"],
          ["Самарская область","ru","smr"],
          ["Саратовская область","ru","srtv"],
          ["Свердловская область","ru","svrdl"],
          ["Смоленская область","ru","smlnsk"],
          ["Ставропольский край","ru","stvrpl"],
          ["Тамбовская область","ru","tmbvsk"],
          ["Тверская область","ru","tvr"],
          ["Тульская область","ru","tula"],
          ["Хабаровский край","ru","furgal"],
          ["Челябинская область","ru","chlbnsk"],
        ],
        "region-select","","Регион")
