#cards.recipes.animate.scroll
  include ./../../mixins/recipes-card
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__3.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__3.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__3.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__3.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__4.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет')
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет')
  button.btn.recipes__btn.show-more Показать еще