#cards.cards.recipes.animate.scroll
  include ./../../mixins/recipes-card
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет',
    "filter-n2")
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет',
    "filter-n1")
  +recipes-card(
    "./img/recipe/recipe-image__3.jpg",
    'Мясной рулет',
    "filter-n3")
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет',
    "filter-n5")
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет',
    "filter-n8")
  +recipes-card(
    "./img/recipe/recipe-image__3.jpg",
    'Мясной рулет',
    "filter-n10")
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет',
    "filter-n11")
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет',
    "filter-n12")
  +recipes-card(
    "./img/recipe/recipe-image__3.jpg",
    'Мясной рулет',
    "filter-n5")
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет',
    "filter-n6")
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет',
    "filter-n5")
  +recipes-card(
    "./img/recipe/recipe-image__3.jpg",
    'Мясной рулет',
    "filter-n4")
  +recipes-card(
    "./img/recipe/recipe-image__4.jpg",
    'Мясной рулет',
    "filter-n10")
  +recipes-card(
    "./img/recipe/recipe-image__1.jpg",
    'Мясной рулет',
    "top")
  +recipes-card(
    "./img/recipe/recipe-image__2.jpg",
    'Мясной рулет',
    "children")

  button.btn.cards__btn.recipes__btn.show-more Показать еще