aside.recipes__menu.animate 
  include ./../../mixins/collapsible
  +collapsible(
    "Топ рецептов",
    [
      ["Пельмени","#"],
      ["жаренные пельмени","#"],
      ["Бутерброды с колбасой","#"]
    ],
    "recipes__menu")
  +collapsible(
      "Тип ингридиента",
      [
        ["Сосиски","#"],
        ["Колбаса","#"],
        ["Замороженная продукция","#"],
        ["Фарш","#"],
        ["Мясо","#"]
      ],
      "recipes__menu")
  +collapsible(
      "Тип блюда",
      [
        ["1-е блюдо","#"],
        ["2-е блюдо","#"],
        ["Супы","#"],
        ["Соки","#"],
        ["Десерты","#"]
      ],
      "recipes__menu")
  a.btn.recipes__menu-btn(href="page-recipes.html") Сбросить фильтры


