aside.recipes__menu.animate.scroll 
  a.recipes__menu-link(href="#") Топ рецептов 
  include ./../../mixins/collapsible
  +collapsible(
      "Тип ингридиента",
      [
        ["Сосиски","#"],
        ["Колбаса","#"],
        ["Замороженная продукция","#"],
        ["Фарш","#"],
        ["Мясо","#"]
      ],
      "recipes__menu")
  +collapsible(
      "Тип блюда",
      [
        ["1-е блюдо","#"],
        ["2-е блюдо","#"],
        ["Супы","#"],
        ["Соки","#"],
        ["Десерты","#"]
      ],
      "recipes__menu")
  a.recipes__menu-link(href="#") Детское меню
  
  a.btn.recipes__menu-btn(href="page-recipes.html") Сбросить фильтры


