form(action="#", method="post").recipes__menu-form.animate
  a.recipes__menu-form__link(href="#") ТОП РЕЦЕПТОВ
  
  a.recipes__menu-form__link(href="#") Детское меню
  button.btn.recipes__menu-form__btn(type="submit") Применить